table {
    width: 100%;
  }
  

  td, th {
    text-align: center;
    width: 15%;
  }

  th.mat-header-cell {
    font-size: medium;
    font-weight : bold;
    text-align : center !important;
  }

  .header-align-right{
      width: 5%;
      text-align: left;
  }



  .mat-row:hover .mat-cell {
    border-color: currentColor;
    background-color: rgba(183, 183, 223, 0.966);

  }
  .mat-row .mat-cell {
    cursor: pointer;
  }

