
// table {
//     width: 100%;
//     overflow-x: scroll;

//   }

  th.mat-header-cell {
    font-size: medium;
    font-weight : bold;
  }

  
//   .mat-row:hover .mat-cell {
//     border-color: currentColor;
//     background-color: rgba(183, 183, 223, 0.966);

//   }
//   .mat-row .mat-cell {
//     cursor: pointer;
//   }


  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  
  // .mat-row,
  // .mat-header-row {
  //   display: table-row;
  // }

  // td.mat-cell {
  //   /* row padding */
  //   padding: 16px 0;
  //   /* row border */
  //   border-bottom: 1px solid #ffa600;
  //   border-top: 1px solid #ffa600;
  //  }
   
  //  td.mat-cell:first-child {
  //    /* row border */
  //    border-left: 1px solid #ffa600;
  //  }
   
  //  td.mat-cell:last-child {
  //    /* row border */
  //    border-right: 1px solid #ffa600;
  //  }
   
  //  table {
  //    /* row spacing / margin */
  //    border-spacing: 0 8px !important;
  //  } 
