<div class="modal-header">
    <div style="background-color: #319dd7" class="modal-content sub-menu">
        <button
        style="
          position: absolute;
          top: 2%;
          right: 1%;
          background-color: #fa6d7c;
          font-weight: bold;
          color: white;
        "
        class="btn"
        (click)="modal.close('Close click')"
      >
        X
      </button>
        <label
          class="h4"
          style="color: aliceblue; text-align: center; padding-top: 5px"
        >
          Autorización
        </label>
      </div>
  </div>
  <div class="modal-body">
    <form [formGroup]="autorizaForm" >
    <div class="col-lg-12">
        <br />
        <label class="form-label">Usuario</label>
        <input
          class="form-control form-control-lg form-control-solid"
          name="usuario"
          autocomplete="off"
          [class.is-invalid]="isControlInvalid('usuario')"
          [class.is-valid]="isControlValid('usuario')"
          formControlName="usuario"
          value=""
        />
        <br />
        <div
          class="invalid-feedback"
          *ngIf="controlHasError('minlength', 'usuario')"
        >
          Minimo 3 numeros
        </div>
        <div
          class="invalid-feedback"
          *ngIf="controlHasError('maxlength', 'usuario')"
        >
          Maximo 100 numeros
        </div>
      </div>
      <div class="col-lg-12">
        <br />
        <label class="form-label">Password</label>
        <input
          class="form-control form-control-lg form-control-solid"
          name="password"
          autocomplete="off"
          type="password"
          [class.is-invalid]="isControlInvalid('password')"
          [class.is-valid]="isControlValid('password')"
          formControlName="password"
          value=""
        />
        <br />
        <div
          class="invalid-feedback"
          *ngIf="controlHasError('minlength', 'password')"
        >
          Minimo 3 caracteres
        </div>
        <div
          class="invalid-feedback"
          *ngIf="controlHasError('maxlength', 'password')"
        >
          Maximo 100 caracteres
        </div>
      </div>
    </form>

  </div>
  
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="onSubmit()"> Aceptar</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
  
  <ng-container *ngIf="isLoading">
    <app-loader-spinner></app-loader-spinner>
  </ng-container>