.mat-select
{
  width: fit-content;
  min-width: 100%;
}
.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 9999 !important;
}
.control-label{
  color: #025976; 
  font-weight: bold;
}
.sub-menu{
  background-color:#319dd7;
}
