<div style="background-color: #00506a" class="modal-content">
  <button
    style="
      position: absolute;
      top: 2%;
      right: 1%;
      background-color: #fa6d7c;
      font-weight: bold;
      color: white;
    "
    class="btn"
    (click)="closeModal()"
  >
    X
  </button>
  <br />
  <div class="container">
    <div
      style="font: bold; color: white"
      class="modal-title h4 col-12"
      id="example-modal-sizes-title-lg"
    >
      <div class="row">
        <h2 style="font-size: 1.5em">{{ huesped.nombre }}</h2>
      </div>
      <div class="row">
        <small style="color: white; font-size: 1em"
          >ID RVA : &nbsp;
          <small style="font-size: 1em; font-weight: bold; color: #319dd7">{{
            huesped.folio
          }}</small>
        </small>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <small style="color: white; font-size: 1em"
          >Hab.: &nbsp;
          <small style="font-weight: bold; font-size: 1em; color: #319dd7"
            >{{ huesped.numeroCuarto }} - {{ huesped.habitacion.replace("_"," ") }}</small
          >
        </small>
      </div>
    </div>
  </div>

  <br />
  <!-- </div>  -->
  <ng-container *ngIf="huesped.estatus=='Huesped en Casa'||huesped.estatus=='Check-Out'||huesped.estatus=='Uso Interno'||huesped.estatus=='Bloqueo / Sin Llegadas'||huesped.estatus=='Reserva Temporal'">
    <mat-select  disabled style="width:160px; color: white; font-weight: bold; font-size: larger; " [(value)]="huesped.estatus" [style.background-color]="backgroundColor(huesped.estatus)" name="filter_for" id="demo" class="btn">
      <mat-option #option [style.background-color]="backgroundColor(huesped.estatus)"  [value]="huesped.estatus">{{huesped.estatus}}</mat-option>
    </mat-select>
  </ng-container>
  <ng-container *ngIf="huesped.estatus=='Reserva Sin Pago'||huesped.estatus=='Deposito Realizado'||huesped.estatus=='Esperando Deposito'||huesped.estatus=='Totalmente Pagada'||huesped.estatus=='Reserva Confirmada'">
    <mat-select style="width: 160px; color: white; font-weight: bold; font-size: larger;  " #selected [(value)]="huesped.estatus"  (selectionChange)="openDialog(huesped)" [style.background-color]="backgroundColor(huesped.estatus)" name="filter_for" id="demo" class="btn" >
      <ng-container *ngFor="let estatus of estatusArray">
        <ng-container  *ngIf="estatus.id==2||estatus.id==3||estatus.id==8||estatus.id==9||estatus.id==10">
          <mat-option #option [style.background-color]="estatus.color" [value]="estatus.estatus">{{estatus.estatus}}</mat-option>
        </ng-container>
      </ng-container>
    </mat-select>
  </ng-container>
<br>

  <!-- <div style="background-color: #00506a;" class="col-md-12 cursor-default modal-content "> -->
  <!-- <br> -->

  <div class="row" style="text-align: center; padding-left: 15px">
    &nbsp;&nbsp;&nbsp;
    <div
      style="background-color: #e43748; color: white"
      class="col px-3 py-3 rounded-sm mr-7 mb-7"
    >
      <div>
        <label style="color: white"> Pendiente: </label>
      </div>

      <label style="color: white;font-size: large;">
        $ {{ (huesped.pendiente).toLocaleString("es-MX") }}.00
      </label>
    </div>

    <div
      style="background-color: #da8f27; color: white"
      class="col px-3 py-3 rounded-sm mr-7 mb-7"
    >
      <div>
        <label style="color: white"> Pagado: </label>
      </div>

      <label style="color: white;font-size: large;"> $0.00 </label>
    </div>

    <div
      style="background-color: #0083b2; color: white"
      class="col px-3 py-3 rounded-sm mr-7 mb-7"
    >
      <div>
        <label style="color: white"> Su Cuenta: </label>
      </div>

      <label  style="color: white; font-size: large;">
        $ {{ (huesped.porPagar).toLocaleString("es-MX") }}.00
      </label>
    </div>
  </div>
</div>

<mat-tab-group class="col-md-12" style="min-width: 0; padding: 3px">
  <mat-tab label="Reserva">
    <app-reservas-component></app-reservas-component>
  </mat-tab>

  <!--HUESPED TAB-->
  <mat-tab label="Huésped">
    <app-huesped-component></app-huesped-component>
  </mat-tab>
</mat-tab-group>


<div *ngIf="huesped.estatus=='Reserva Confirmada'||huesped.estatus=='Reserva Sin Pago'||huesped.estatus=='Reserva Temporal'||huesped.estatus=='Esperando Deposito'||huesped.estatus=='Deposito Realizado'||huesped.estatus=='Totalmente Pagada'">
  <div style="background-color: #00506a; text-align: center; padding-top: 5px; padding-bottom: 5px;" class="h4 modal-content">
    <label style="color: aliceblue"> Estado de Reserva / Folio </label>
    <div style="justify-content: space-around;" class="row">

      <div class="col-lg-6">
        <button
          class="btn btn-primary btn-block"
          type="submit"
          name="estatus"
          (click)="confirmaReserva(3,huesped.folio);closeModal()"
        >
          Confirma Resereva
        </button>
        <br>
      </div>
      <div class="col-lg-6">
        <button
          class="btn btn-success btn-block"
          type="submit"
          name="estatus"
          (click)="confirmaReserva(1,huesped.folio);closeModal()"
        >
          Realiza Check-In
        </button>
      </div>

      <div class="col-lg-6">
        <button disabled class="btn btn-warning btn-block" type="submit">
          Realiza un Pago
        </button>
        <br>
      </div>
      <br>

      <div class="f col-lg-6">
        <button
          disabled
          class="btn btn-secondary btn-block"
          type="submit"
          value="7"
        >
          Enviar Confirmacion
        </button>
      </div>
      <br>

      <div class="col-lg-6">
        <button disabled class="btn btn-danger btn-block" type="submit">
          No se presento
        </button>
        <br>
      </div>
      <br>

      <div class="f col-lg-6">
        <button
          disabled
          class="btn btn-danger btn-block"
          type="submit"
          value="7"
        >
          Cancela Reserva
        </button>
      </div>
      <br>

      <div class="f col-lg-12">
        <button
          disabled
          class="btn btn-primary btn-block"
          type="submit"
          value="7"
        >
          Modifica Reserva
        </button>
        <br>
      </div>

    </div>
  </div>
</div>
<div *ngIf="huesped.estatus=='Huesped en Casa'">
  <div style="background-color: #00506a; text-align: center; padding-top: 5px; padding-bottom: 5px;" class="h4 modal-content">
    <label style="color: aliceblue"> Estado de Reserva / Folio </label>
    <div style="justify-content: space-around;" class="row">

      <div class="col-lg-12">
        <button disabled
          class="btn btn-primary btn-block"
          type="submit"
          name="estatus"
          (click)="setEstatus(1)"
        >
          eFirma de Registro
        </button>
        <br>
      </div>
      

      <div class="col-lg-12">
        <button class="btn btn-warning btn-block" type="submit">
          Realiza un Pago
        </button>
        <br>
      </div>
      <br>

    
      <br>

      <div class="f col-lg-12">
        <button
          (click)="checkOut(4,huesped.folio)"
          class="btn btn-danger btn-block"
          type="submit"
          value="7"
        >
          Realiza Check-Out
        </button>
        <br>
      </div>

      <div class="f col-lg-12">
        <button
          (click)="openModifica()"
          class="btn btn-primary btn-block"
          type="submit"
          value="7"
        >
          Modifica Reserva
        </button>
        <br>
      </div>

    </div>
  </div>
</div>


<ng-template #error let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Error</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Ocurrio un Error al actualizar al Húesped intente de nuevo mas tarde&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #exito let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{mensaje_exito}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- <div class="modal-body">
    <p>Ocurrio un Error al guardar al Húesped porfavor intentelo mas tarde&hellip;</p>
  </div> -->
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>