.mat-select
{
  width: fit-content;
  min-width: 100%;
}
.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 9999 !important;
}
.control-label{
  color: #025976; 
  font-weight: bold;
}
.sub-menu{
  background-color:#319dd7;
}
.spinner_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 14, 14, 0.534);
  opacity: 0.8;
  z-index: 1000;
}
.tab-label {
  min-width: 72px;
}
// .stretch-tab-reserva{
//   max-width: 10px;
// }
// .stretched-tabs {
//   max-width: 100px;
// }