
<div class="cursor-default modal-content">
    <div class="row container">
        <div class="col-lg-6">
            <label style="font-weight: bold;font-size: medium; "> &nbsp; ID Socio : </label>

            <label style="font-size: medium;" >&nbsp; {{historicoService.getCurrentClienteValue.id_Socio}}</label>
        </div>
        <div class="col-lg-6">
            <!-- <mat-radio-button checked class="example-margin">{{historicoService.getCurrentClienteValue.tipoHuesped}}</mat-radio-button > -->
        </div>
        <div class="row container">
          <div style="margin-top: 5px" class="col-sm-4">
            <mat-radio-button (change)="vipChecked()" [checked]="checkedVIP" class="example-margin">VIP</mat-radio-button >
          </div>
          <div style="margin-top: 5px" class="col-sm-4">
            <mat-radio-button (change)="regularChecked()" [checked]="checkedRegular" class="example-margin">REGULAR</mat-radio-button >
          </div>
          <div style="margin-top: 5px" class="col-sm-4">
            <mat-radio-button (change)="listaNegraChecked()" [checked]="checkedListaNegra" class="example-margin">LISTA NEGRA</mat-radio-button >
          </div>
        </div>
    </div>
               


<br>
<div class="row container">
  <div class="col-lg-12">
    <label class="form-label">Nombre Completo</label>
    <input
      type="text"
      disabled
      class="form-control form-control-lg form-control-solid"
      name="nombre"
      autocomplete="off"
      value="{{ historicoService.getCurrentClienteValue.nombre }}"
    />
  </div>
</div>
<br>
<div class="row container">
  <div class="col-lg-6">
    <label class="form-label">Email</label>
    <input
      type="email"
      disabled
      class="form-control form-control-lg form-control-solid"
      name="email"
      autocomplete="off"
      value="{{historicoService.getCurrentClienteValue.email}}"
    />

  </div>

  <div class="col-lg-6">
    <label class="form-label">Teléfono</label>
    <input
      type="tel"
      disabled
      class="form-control form-control-lg form-control-solid"
      name="telefono"
      autocomplete="off"
      value="{{ historicoService.getCurrentClienteValue.telefono }}"
    />
    <br />
    
  </div>
</div>
</div>
<div style="background-color: #319dd7" class="modal-content">

  <label
    class="h4"
    style="color: aliceblue; text-align: center; padding-top: 5px"
  >  Otros Detalles </label>
</div>
<form [formGroup]="formGroup">
<div class="row container">
<div class="col-lg-6">
  <br />

    <div class="form-group">
      <label class="form-label">Fecha de Nacimiento</label>
      <div class="input-group">
        <input placement='bottom-left' 
        formControlName="fechaNacimiento"
        class="form-control form-control-lg form-control-solid" placeholder="yyyy-mm-dd"
        name="dp"   
        value="{{historicoService.getCurrentClienteValue.fechaNacimiento}}">
      </div>
    </div>
 

</div>
<div class="col-lg-6">
  <br />
  <label class="form-label">Trabaja En:</label>
  <input
  formControlName="trabajaEn"
    class="form-control form-control-lg form-control-solid"
    name="trabajaEn"
    autocomplete="off"
    value="{{ historicoService.getCurrentClienteValue.trabajaEn }}"
  />
  <br />
  
</div>
</div>
<div class="row container">
<div class="col-lg-6">
  <br />
  <label class="form-label">Tipo de ID</label>
  <input
  formControlName="tipoDeID"
    class="form-control form-control-lg form-control-solid"
    name="tipoDeID"
    autocomplete="off"
    value="{{ historicoService.getCurrentClienteValue.tipoDeID }}"
  />
  <br />
 
</div>
<div class="col-lg-6">
  <br />
  <label class="form-label">Numero de ID</label>
  <input
  formControlName="numeroDeID"
    class="form-control form-control-lg form-control-solid"
    name="numeroDeID"
    autocomplete="off"
    value="{{ historicoService.getCurrentClienteValue.numeroDeID }}"
  />
  <br />
  
</div>
</div>
<div class="row container">
<div class="col-lg-12">
  <label class="form-label">Dirección</label>
  <input
  formControlName="direccion"
    type="text"
    class="form-control form-control-lg form-control-solid"
    name="direccion"
    autocomplete="off"
    value="{{ historicoService.getCurrentClienteValue.direccion }}"
  />
  
</div>
</div>
<div class="row container">
<div class="col-lg-6">
  <br />
  <label class="form-label">País</label>
  <input
  formControlName="pais"
    class="form-control form-control-lg form-control-solid"
    name="pais"
    autocomplete="off"
    value="{{ historicoService.getCurrentClienteValue.pais }}"
  />
  <br />

</div>
<div class="col-lg-6">
  <br />
  <label class="form-label">Ciudad</label>
  <input
  formControlName="ciudad"
    class="form-control form-control-lg form-control-solid"
    name="ciudad"
    autocomplete="off"
    value="{{ historicoService.getCurrentClienteValue.ciudad }}"
  />
  <br />
</div>
</div>
<div class="row container">
<div class="col-lg-6">
  <br />
  <label class="form-label">Codigo Postal</label>
  <input
  formControlName="codigoPostal"
  class="form-control form-control-lg form-control-solid"
    name="codigoPostal"
    autocomplete="off"
    value="{{ historicoService.getCurrentClienteValue.codigoPostal }}"
  />
  <br />

</div>
<div class="col-lg-6">
  <br />
  <label class="form-label">Lenguaje</label>
  <input
  formControlName="lenguaje"
  class="form-control form-control-lg form-control-solid"
    name="lenguaje"
    autocomplete="off"
    value="{{ historicoService.getCurrentClienteValue.lenguaje }}"
  />
  <br />
</div>
</div>

<div style="background-color: #319dd7" class="modal-content">

<label
  class="h4"
  style="color: aliceblue; text-align: center; padding-top: 5px"
>  Datos Para Facturar </label>
</div>

<br>
<div class="row container">
  <div class="col-lg-12">
    <label class="form-label">Nombre / Razon Social</label>
    <input
    formControlName="razonsocial"
      type="text"
      class="form-control form-control-lg form-control-solid"
      name="razonsocial"
      autocomplete="off"
    />
   
  </div>
  <br>
  <div class="col-lg-12">
    <label class="form-label">RFC</label>
    <input
    formControlName="rfc"
      type="text"
      class="form-control form-control-lg form-control-solid"
      name="rfc"
      autocomplete="off"
    />
    
  </div>
</div>
<br>
<div class="row container">
  <div class="col-lg-6">
    <label class="form-label">EMAIL</label>
    <input
    formControlName="email"
      type="text"
      class="form-control form-control-lg form-control-solid"
      name="email"
      autocomplete="off"
    />
  </div>
<div class="col-lg-6">
  <label class="form-label">USO DE CFDI</label>
  <mat-form-field appearance="fill">
    <mat-label></mat-label>
    <!-- <mat-select value="Gastos en General">
        <mat-option>Gastos en General</mat-option>
    </mat-select> -->
    <mat-select          formControlName="cfdi"    >
      <mat-option *ngFor="let cfdi of cfdiList" [value]="cfdi">{{cfdi}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>

<br>
</form>


<div style="background-color: #319dd7" class="modal-content">

<label
  class="h4"
  style="color: aliceblue; text-align: center; padding-top: 5px"
> Notas Internas del historicoService.getCurrentClienteValue </label>
</div>
<br>
<div class="row">
  <div style="text-align: center;" class="col-md-12">
    <textarea disabled style="border: 2px solid rgb(177, 177, 177)" class="form-control">           - NOTAS EXTRAS DEL CLIENTE</textarea>
  </div>
</div>
<br>

<br>
<div style="background-color: #319dd7" class="modal-content">
  <label
    class="h4"
    style="color: aliceblue; text-align: center; padding-top: 5px"
  > Historial de Visitas </label>


</div>

  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Folio Column -->
      <ng-container matColumnDef="folio">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Folio </th>
        <td mat-cell  *matCellDef="let row"> {{row.folio}} </td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="creada">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Creada </th>
        <td mat-cell  *matCellDef="let row"> {{row.creada}} </td>
      </ng-container>

      <!-- Noches Column -->
      <ng-container matColumnDef="noches">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Noches </th>
        <td mat-cell  *matCellDef="let row"> {{row.noches}} </td>
      </ng-container> 

      <!-- Total Column -->
      <ng-container matColumnDef="tarifa">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Tarifa </th>
        <td mat-cell  *matCellDef="let row"> {{row.tarifa}} </td>
      </ng-container> 

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontraron datos</td>
      </tr>

    </table>
  
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Pagina"></mat-paginator> -->
  </div>
<br>


<div style="background-color: #00506a; text-align: center; padding-top: 5px; padding-bottom: 5px;" class="h4 modal-content">
  <br>
<div class="f col-lg-12">
  <button
    (click)="prepareHistorico()"
    class="btn btn-success btn-block"
    type="submit"
    value="7">
    Actualizar y Guardar
  </button>
  <br>
</div>
</div>



