
<div style="background-color:#00506a;" class="modal-header">
  <div style=" font: bold; color:white" class="modal-title h4 col-12" id="example-modal-sizes-title-lg">
     <div class="row">
      <h2 style="font-size: 1.5em;">{{huesped.nombre}}</h2>  
      <button style="position:absolute; top:0; right:0; background-color:#fa6d7c; font-weight: bold; color: white;" class="btn" (click)="closeModal()"> X </button>
     </div> 
     <div class="row">
      <small style="color: white;  font-size: 1em;">ID RVA : &nbsp; <small style="font-size: 1em; font-weight: bold; color:#319dd7">{{huesped.folio}}</small> </small>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <small style="color: white;  font-size: 1em;">Hab.: &nbsp; <small style="font-weight: bold; font-size: 1em; color:#319dd7">{{huesped.numeroCuarto}} - {{huesped.habitacion}}</small> </small>

     </div>


            <div style="background-color: rgba(243, 243, 243, 0.973);" class="col-md-12 cursor-default modal-content ">
                      <div style="background-color: rgba(243, 243, 243, 0.973); display: flex; justify-content:space-evenly; flex-direction: row;" class="row">

                        <div class="container">
                            <div class="row">
                              <div style="margin:auto" class="col-sm-6">
                                <label>
                                  <h4>{{huesped.nombre}}</h4>
                                </label>
                              </div>
                              <div style="margin: auto;" class="col-sm-6">
                                <span [style]="setLabel" class="label label-lg label-inline">
                                    {{huesped.estatus}}
                                </span>
                              </div>
                          </div>


                          <div class="row">
                            <div style="margin: auto;" class="col-sm-6">
                              <label>
                                ID DE RESERVA : {{huesped.folio}}
                              </label>
                            </div>
                            <div style="margin: auto;" class="col-sm-6">
                              # 1101 - {{huesped.habitacion}}

                            </div>
                          </div>
                        </div>

                    </div>


                        <div class="row">

                              <div  class="col bg-light-primary px-3 py-3 rounded-sm mr-7 mb-7">
                                <div>
                                  <a href="#" class="text-warning font-weight-bold font-size-h6 ">
                                    A Pagar:
                                  </a>
                                </div>

                                <a class="text-warning font-weight-bold font-size-h6" style="text-align: left;">
                                  {{huesped.porPagar}}
                                </a>
                              </div>

                              <div  class="col bg-light-warning px-3 py-3 rounded-sm mr-7 mb-7">
                                <div>
                                  <a href="#" class="text-warning font-weight-bold font-size-h6 ">
                                    Pagado:
                                  </a>
                                </div>

                                <a class="text-warning font-weight-bold font-size-h6">
                                  $0.00
                                </a>
                              </div>

                              <div  class="col bg-light-danger px-3 py-3 rounded-sm mr-7 mb-7">
                                <div>
                                  <a href="#" class="text-danger font-weight-bold font-size-h6 ">
                                    Pendiente:
                                  </a>
                                </div>

                                <a class="text-warning font-weight-bold font-size-h6">
                                  {{huesped.pendiente}}
                                </a>
                              </div>
                        </div>
          </div>
  </div>  
</div>

<mat-tab-group class="col-md-12" style="min-width: 0;  padding: 3px;">
  <mat-tab label="Reserva">
        <div style="background-color: rgba(243, 243, 243, 0.973);" class=" cursor-default modal-content ">
          <div class="row">
              <div class="col-md-6">
              <br>
                <label class="font-weight-bold">Habitacion / Cama</label>
                <br>
                &nbsp;
                <label>1101 - {{huesped.habitacion}}
              </label>
              </div>


              <div class="col-md-6">
                <br>
                <label>Tipo :</label>
                  <br>
                  &nbsp; <label>Villa</label>
              </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <label>Tarifa Automatica</label>
              <br>
              &nbsp; <label>
              $ {{huesped.tarifa}}.00
              </label>
            </div>
            <div>
              <select style="width:fit-content" class="btn btn-primary"  >
                <option selected>Por Noche</option>
                <!-- <option>Por Toda La Estancia</option> -->
              </select>
            </div>
          </div>

          <div class= "row">
                <div class="col-md-6">
                  <label>
                    <br>Tarifa Manual
                    <br>(Total Por Noche)</label>
                </div>

                <div >
                  <br>
                  <mat-slide-toggle (change)="tarifaAutomatica()" >  </mat-slide-toggle>
                  <input  [disabled]="checked" placeholder="$ 0.00" value=" ${{huesped.tarifa}}.00">
                </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <label>            <br>
                Metodo de Pago Online: </label>
              <br>
              &nbsp; <label>Paypal</label>
            </div>
            <div class="col-md-6">
              <label>            <br>
                Origen de Reserva
              </label>
              <br>
              &nbsp;<select class="btn btn-white">
                <option selected> {{huesped.origen}}</option>
                <option > Pagina Web</option>
                <option > Booking</option>

              </select>

            </div>
          </div>

    </div>

<br>
    <div style="background-color:#162F58;" >
      <div  style=" border-radius: 5px;  background-color:#162F58; display: flex; justify-content:space-evenly; flex-direction: row;"
            class="col-md-6 container">

            <label style="color: aliceblue;">
              Estancia
            </label>
      </div>
    </div>


      <div class="row">
        <div class="col-md-6">
          <br>
          <label>
            Rango de Fechas:</label>
          <br>
          &nbsp; <label>{{huesped.llegada}} - {{huesped.salida}}</label>
        </div>
        <div class="col-md-6">
          <br>
          <label>Numero de Noches:</label>
          <br>
          &nbsp; <label>{{noches}}</label>
        </div>
      </div>

      <br>
      <div style="background-color:#162F58;" >
        <div  style=" border-radius: 5px;  background-color:#162F58; display: flex; justify-content:space-evenly; flex-direction: row;"
              class="col-md-6 container">

              <label style="color: aliceblue;">
                Personas
              </label>
        </div>
      </div>
<br>
      <div class="row">
         <div class="form-group col-lg-6">

                <label class="form-label">Adultos</label>
                <div class="input-group">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" (click)="minus()" type="button" ng-click="countVal=countVal+1">
                      <i class="fa fa-minus">
                      </i>
                    </button>
                  </div>
                  <input
                    class="input-group form-control form-control-lg form-control-solid text-center"
                    placeholder=""
                    name="adultos"
                    [value]="quantity"
                    value="{{huesped.adultos}}"
                    >
                  <div class="input-group-append">
                    <button class="btn btn-secondary" (click)="plus()" type="button">
                      <i class="fa fa-plus">
                      </i>
                    </button>
                  </div>

                </div>
              </div>

              <div class="form-group col-lg-6">

                <label class="form-label">Niños</label>
                <div class="input-group">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" (click)="minusNin()" type="button">
                      <i class="fa fa-minus">
                      </i>
                    </button>
                  </div>
                  <input
                  class="input-group form-control form-control-lg form-control-solid text-center" placeholder=""
                    name="ninos"
                    [value]="quantityNin"
                    value={{huesped.ninos}}
                    >
                  <div class="input-group-append">
                    <button class="btn btn-secondary" (click)="plusNin()" type="button">
                      <i class="fa fa-plus">
                      </i>
                    </button>
                  </div>
                </div>
              </div>
      </div>

      <div style="background-color:#162F58;" >
        <div  style=" border-radius: 5px;  background-color:#162F58; display: flex; justify-content:space-evenly; flex-direction: row;"
              class="col-md-6 container">
              <label style="color: aliceblue;">
                Servicios Adicionales
              </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>
           - Persona extra por 3 noches ($900.00)</label>
          <br>
        </div>
        <div class="col-md-6">
          <label>- No incluye desayuno y comida extra</label>
          <br>
        </div>
      </div>

      <div style="background-color:#162F58;" >
        <div  style=" border-radius: 5px;  background-color:#162F58; display: flex; justify-content:space-evenly; flex-direction: row;"
              class="col-md-6 container">
              <label style="color: aliceblue;">
               Notas del cliente
              </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <textarea>
           - NOTAS EXTRAS DEL CLIENTE</textarea>
          <br>
        </div>

      </div>


      <div  [style]="changeStyleVisible" >
        <div  style=" border-radius: 5px;  background-color:#162F58; display: flex; justify-content:space-evenly; flex-direction: row;"
              class="col-md-12 container">

              <label style="color: aliceblue;">
               Estado de Reserva / Folio
              </label>
         </div>
         <br>

         <div class="row">
          <div class=" col-lg-6 ">
                <button
                class="btn btn-primary btn-block"
                type="submit"
                name="estatus"
                (click)="setEstatus(1)"
                >
                  Confirma Resereva
                </button>
          </div>
          <div class=" col-lg-6 ">
                <button
                class="btn btn-success btn-block"
                type="submit"
                name="estatus"
                (click)="setEstatus(3); changeVisible();"
                >
                  Realiza Check-In
                </button>
          </div>
          <div class=" col-lg-6 ">
                <button
                disabled
                class="btn btn-warning btn-block"
                type="submit"
                >
                  Realiza un Pago
                </button>
          </div>
          <div class="f col-lg-6">
                <button
                  disabled
                  class="btn btn-secondary btn-block"
                  type="submit"
                  value="7"
                  >
                  Enviar Confirmacion
                </button>
          </div>
          <div class=" col-lg-6 ">
            <button
            disabled
            class="btn btn-danger btn-block"
            type="submit"
            >
              No se presento
            </button>
          </div>
          <div class="f col-lg-6">
                <button
                disabled
                  class="btn btn-danger btn-block"
                  type="submit"
                  value="7"
                  >
                  Cancela Reserva
                </button>
          </div>
          <div class="f col-lg-12">
            <button
            disabled
              class="btn btn-primary btn-block"
              type="submit"
              value="7"
              >
              Modifica Reserva
            </button>
          </div>
        </div>
      </div>

      <div  [style]="changeStyleHidden" >
          <div  style=" border-radius: 5px;  background-color:#162F58; display: flex; justify-content:space-evenly; flex-direction: row;"
              class="col-md-12 container">

              <label style="color: aliceblue;">
               Estado de Reserva / Folio
              </label>
         </div>
         <br>

         <div class="row">
          <div class=" col-lg-12 ">
                <button
                class="btn btn-primary btn-block"
                type="submit"
                name="estatus"
                (click)="setEstatus(1)"
                >
                  eFirma de Registro
                </button>
          </div>
          <div class=" col-lg-12 ">
                <button
                class="btn btn-warning btn-block"
                type="submit"
                name="estatus"
                (click)="setEstatus(3)"
                >
                  Realizar un Pago
                </button>
          </div>
          <div class=" col-lg-12 ">
                <button
                class="btn btn-danger btn-block"
                type="submit"
                (click)="setEstatus(6)"
                >
                  Realiza Check-Out
                </button>
          </div>
          <div class="f col-lg-12">
                <button
                  class="btn btn-secondary btn-block"
                  type="submit"
                  value="7"
                  (click)="setEstatus(7)"
                  >
                  Modifica Reserva
                </button>
          </div>

        </div>
      </div>



  </mat-tab>



  <!--HUESPED TAB-->
  <mat-tab label="Huésped">
    <form (submit)="save()" [formGroup]="formGroup" class="form form-label-right">
      <div style="background-color: rgba(243, 243, 243, 0.973);" class=" cursor-default modal-content ">
        <div class="row">

            <div style="margin-top: 5px;" class="col-sm-3">
              <label style="font-weight: bold; ">
                &nbsp; ID Cliente :
              </label>
             <label style="font-weight: bold;  font-family: sans; ">&nbsp;{{huesped.folio}}</label>
            </div>
            <div style="margin-top: 5px;" class="col-sm-2">
              <mat-checkbox class="example-margin" >VIP</mat-checkbox>
            </div>
            <div style="margin-top: 5px;" class="col-sm-3">
              <mat-checkbox class="example-margin" >REGULAR</mat-checkbox>
            </div>
            <div style="margin-top: 5px;" class="col-sm-3">
              <mat-checkbox class="example-margin" >LISTA NEGRA</mat-checkbox>
            </div>
        </div>
        <div class="form-group row">

          <!-- <div class="form-group col-lg-12">
            <label class="input-label">Buscar Húsped
              <div class="input-group">
                <select
                  class="form-control form-control-lg form-control-solid"
                  name="buscahuesped"
                  (change)="onSelectHuesped($event.target.value)"
                  #buscarHuesped>
                  <option disabled selected value> -- Buscar por Nombre -- </option>
                  <ng-container *ngFor="let huesped of customerService.items$ | async">
                    <option value="{{huesped.nombre}}">{{huesped.nombre}}
                    </option>
                  </ng-container>
                </select>
              </div>
            </label>
            <button class="btn btn-primary" type="button" disabled>
              <i class="fa fa-search"></i>
            </button>
          </div> -->

          <div class="col-lg-12">
            <label class="form-label">Nombre</label>
            <input
              [disabled] = "modifica"
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="nombre"
              placeholder="Nombre completo"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('nombre')"
              [class.is-valid]="isControlValid('nombre')"
              formControlName="nombre"
              value="{{huesped.nombre}}"
            />
            <div class="valid-feedback" *ngIf="isControlValid('nombre')">
              Nombre Escrito Correctamente
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'nombre')"
            >
              Campo Requerido*
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'nombre')"
            >
              Minimo 3 letras
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxlength', 'nombre')"
            >
              Maximo 100 letras
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-6">
            <label class="form-label">Email</label>
            <input
              [disabled] = "modifica"
              type="email"
              class="form-control form-control-lg form-control-solid"
              name="email"
              placeholder="Escribe tu Email"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('email')"
              [class.is-valid]="isControlValid('email')"
              formControlName="email"
              value="{{huesped.email}}"
            />
            <div class="valid-feedback" *ngIf="isControlValid('email')">
              Email Escrito Correctamente
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'email')"
            >
              Minimo 3 letras
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxlength', 'email')"
            >
              Maximo 100 letras
            </div>
            <div
            class="invalid-feedback"
            *ngIf="controlHasError('pattern', 'email')"
          >
            Escriba un correo valido
          </div>
          </div>

          <div class="col-lg-6">
            <label class="form-label">Teléfono</label>
            <input
              [disabled] = "modifica"
              type="tel"
              class="form-control form-control-lg form-control-solid"
              name="telefono"
              placeholder="Teléfono"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('telefono')"
              [class.is-valid]="isControlValid('telefono')"
              formControlName="telefono"
              value="{{huesped.telefono}}"
            />
            <small>Formato: 000-0000-0000 </small>
            <br>
            <div class="valid-feedback" *ngIf="isControlValid('telefono')">
              Teléfono Escrito Correctamente
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'telefono')"
            >
              Minimo 12 numeros
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxlength', 'telefono')"
            >
              Maximo 14 numeros
            </div>
          </div>

        </div>
      </div>
      <div style="background-color:#162F58;" >
        <div  style=" border-radius: 5px;  background-color:#162F58; display: flex; justify-content:space-evenly; flex-direction: row;"
              class="col-md-6 container">
              <label style="color: aliceblue;">
                Otros Detalles
              </label>
        </div>
      </div>

      <div class="row">
                      <!--HIDDEN-->
                      <div class="form-group hidden col-lg-12">
                        <div class="input-group">
                          <input name="datepicker" class="form-control" ngbDatepicker type="hidden" #datepicker="ngbDatepicker"
                            [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                            outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
                          <ng-template #t let-date let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                              [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                              (mouseleave)="hoveredDate = null">
                              {{ date.day }}
                            </span>
                          </ng-template>
                        </div>
                      </div>
                            <!--HIDDEN-->
        <div class="form-group col-lg-6">
          <label class="form-label">Fecha de Nacimiento</label>
          <div class="input-group">
            <input
              #dpFromDate
              class="form-control"
              placeholder="yyyy-mm-dd" name="dpFromDate"
              [value]="formatter.format(fromDate)"
              (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
              formControlName="fechaNacimiento"
              value="{{huesped.fechaNacimiento}}"
              [disabled] = "modifica"
                            >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                <i class="fa fa-calendar icon"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <br>
          <label class="form-label">Trabaja En:</label>
          <input
            [disabled] = "modifica"
            class="form-control form-control-lg form-control-solid"
            name="trabajaEn"
            placeholder="trabajaEn"
            autocomplete="off"
            [class.is-invalid]="isControlInvalid('trabajaEn')"
            [class.is-valid]="isControlValid('trabajaEn')"
            formControlName="trabajaEn"
            value="{{huesped.trabajaEn}}"
            [disabled] = "modifica"
          />
          <br>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'trabajaEn')"
          >
            Minimo 3 numeros
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'trabajaEn')"
          >
            Maximo 100 numeros
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <br>
          <label class="form-label">Tipo de ID</label>
          <input
            [disabled] = "modifica"
            class="form-control form-control-lg form-control-solid"
            name="tipoDeID"
            placeholder="tipoDeID"
            autocomplete="off"
            [class.is-invalid]="isControlInvalid('tipoDeID')"
            [class.is-valid]="isControlValid('tipoDeID')"
            formControlName="tipoDeID"
            value="{{huesped.tipoDeID}}"
            [disabled] = "modifica"
          />
          <br>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'tipoDeID')"
          >
            Minimo 3 numeros
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'tipoDeID')"
          >
            Maximo 100 numeros
          </div>
        </div>
        <div class="col-lg-6">
          <br>
          <label class="form-label">Numero de ID</label>
          <input
            [disabled] = "modifica"
            class="form-control form-control-lg form-control-solid"
            name="numeroDeID"
            placeholder="numeroDeID"
            autocomplete="off"
            [class.is-invalid]="isControlInvalid('numeroDeID')"
            [class.is-valid]="isControlValid('numeroDeID')"
            formControlName="numeroDeID"
            value="{{huesped.numeroDeID}}"
            [disabled] = "modifica"
          />
          <br>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'numeroDeID')"
          >
            Minimo 3 numeros
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'numeroDeID')"
          >
            Maximo 100 numeros
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <label class="form-label">Dirección</label>
          <input
            [disabled] = "modifica"
            type="text"
            class="form-control form-control-lg form-control-solid"
            name="direccion"
            placeholder="Direccion"
            autocomplete="off"
            [class.is-invalid]="isControlInvalid('direccion')"
            [class.is-valid]="isControlValid('direccion')"
            formControlName="direccion"
            value="{{huesped.direccion}}"
            [disabled] = "modifica"
          />
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'direccion')"
          >
            Minimo 3 letras
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'direccion')"
          >
            Maximo 100 letras
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <br>
          <label class="form-label">País</label>
          <input
            [disabled] = "modifica"
            class="form-control form-control-lg form-control-solid"
            name="pais"
            placeholder="pais"
            autocomplete="off"
            [class.is-invalid]="isControlInvalid('pais')"
            [class.is-valid]="isControlValid('pais')"
            formControlName="pais"
            value="{{huesped.pais}}"
            [disabled] = "modifica"
          />
          <br>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'pais')"
          >
            Minimo 3 numeros
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'pais')"
          >
            Maximo 100 numeros
          </div>
        </div>
        <div class="col-lg-6">
          <br>
          <label class="form-label">Ciudad</label>
          <input
            [disabled] = "modifica"
            class="form-control form-control-lg form-control-solid"
            name="ciudad"
            placeholder="Ciudad"
            autocomplete="off"
            [class.is-invalid]="isControlInvalid('ciudad')"
            [class.is-valid]="isControlValid('ciudad')"
            formControlName="ciudad"
            value="{{huesped.ciudad}}"
            [disabled] = "modifica"
          />
          <br>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'ciudad')"
          >
            Minimo 3 numeros
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'ciudad')"
          >
            Maximo 100 numeros
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <br>
          <label class="form-label">Codigo Postal</label>
          <input
            [disabled] = "modifica"
            class="form-control form-control-lg form-control-solid"
            name="codigoPostal"
            placeholder="codigoPostal"
            autocomplete="off"
            [class.is-invalid]="isControlInvalid('codigoPostal')"
            [class.is-valid]="isControlValid('codigoPostal')"
            formControlName="codigoPostal"
            value="{{huesped.codigoPostal}}"
            [disabled] = "modifica"
          />
          <br>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'codigoPostal')"
          >
            Minimo 3 numeros
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'codigoPostal')"
          >
            Maximo 100 numeros
          </div>
        </div>
        <div class="col-lg-6">
          <br>
          <label class="form-label">Lenguaje</label>
          <input
            [disabled] = "modifica"
            class="form-control form-control-lg form-control-solid"
            name="lenguaje"
            placeholder="lenguaje"
            autocomplete="off"
            [class.is-invalid]="isControlInvalid('lenguaje')"
            [class.is-valid]="isControlValid('lenguaje')"
            formControlName="lenguaje"
            value="{{huesped.lenguaje}}"
            [disabled] = "modifica"
          />
          <br>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'lenguaje')"
          >
            Minimo 3 numeros
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'lenguaje')"
          >
            Maximo 100 numeros
          </div>
        </div>
      </div>
      <div style="background-color:#162F58;" >
        <div  style=" border-radius: 5px;  background-color:#162F58; display: flex; justify-content:space-evenly; flex-direction: row;"
              class="col-md-6 container">
              <label style="color: aliceblue;">
                Historial de Visitas
              </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label>
            No. de Reserva
          </label>
        </div>
        <div class="col-md-4">
          <label>
            Fechas
          </label>
        </div>
        <div class="col-md-4">
          <label>
            Total
          </label>
        </div>
      </div>
      <div style="background-color:#162F58;" >
        <div  style=" border-radius: 5px;  background-color:#162F58; display: flex; justify-content:space-evenly; flex-direction: row;"
              class="col-md-6 container">
              <label style="color: aliceblue;">
                Notas Internas del cliente
              </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>
            NOTAS
          </label>
        </div>
      </div>


<!-- DESDE HISDTORICO
      <div style="background-color:#162F58;" >
        <div  style=" border-radius: 5px;  background-color:#162F58; display: flex; justify-content:center; flex-direction: row;"
              class="col-md-12 container">

            <div class="row">
              <label style="color: white;">Desea generar una nueva reserva a este huesped? <br></label>
              <button>
                GENERAR NUEVA RESERVA CON MISMOS DATOS
              </button>
              <br>

            </div>
         </div>
      </div> -->
      <div class="row">
        <div style="display: flex; justify-content:space-evenly; flex-direction: row;" class="col-md-6">
          <button class="btn btn-secondary btn-block">
            Cancelar
          </button>
        </div>
        <div class="col-md-6">
          <button  class="btn btn-success btn-block">
            Actualizar y Guardar
          </button>
        </div>
      </div>

<!-- <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day of the trip
      </mat-panel-title>
      <mat-panel-description>
        Inform the date you wish to travel
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
    </mat-form-field>
    <mat-datepicker #picker></mat-datepicker>
  </mat-expansion-panel>
</mat-accordion> -->

    </form>





  </mat-tab>



</mat-tab-group>



















