<div class="modal-content">
  <div style="background-color: #00506a;" class="modal-header">
      <div style="text-align: center; color: white;" class="text-center modal-title h4 col-10"
        id="example-modal-sizes-title-lg">
        BLOQUEO DE HABITACIONES
        <!-- <label>
          {{huesped.folio}}</label> -->
      </div>
      <button style="background-color:#fa6d7c; font-weight: bold; color: white;" class="btn" (click)="closeModal()"> X </button>

    </div>
</div>

<form (submit)="save(text.value); "  class="form form-label-right"
  style="background-color: #e6e9ed">
  <div class="cursor-default overlay overlay-block modal-body" style="background-color: #e6e9ed">

    <div class="row">
      <!--Hidden-->
      <div class="hidden form-group">
        <div class="input-group">
          <input hidden name="datepicker" class="form-control" ngbDatepicker [footerTemplate]="footerTemplate"
            #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)"
            [displayMonths]="1" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
      <!--Hidden-->


      <label style="color:#00506a; font-weight: bold;" class="form-label">Selecciona Rango de Fecha</label>
      <div class="mb-3 input-group col-lg-9">
        <div class="input-group-prepend">
          <button
            style="border-top: 2px solid #dadcdf;border-bottom: 2px solid #dadcdf;border-left: 2px solid #dadcdf; background-color: transparent;"
            class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
            <i class="fa fa-calendar icon"></i>
          </button>
        </div>
        <input #rango type="text"
          style="border-right: 2px solid #dadcdf;border-top: 2px solid #dadcdf;border-bottom: 2px solid #dadcdf; background-color: #e6e9ed; color: #02597e;"
          class="form-control" [value]="rangoFechas(dpFromDate.value,dpToDate.value)" (click)="datepicker.toggle()">
      </div>

      <!--Hidden-->
      <input hidden #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
        [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
      <input hidden #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
        [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
      <!--Hidden-->
      <!--Calendar Footer-->
      <ng-template #footerTemplate>
        <hr class="my-0">
        <button class="float-right m-2 btn btn-secondary btn-sm" (click)="datepicker.close()">Confirmar</button>
      </ng-template>
      <!--Calendar Footer-->
    </div>


    <div class="row">
      <label style="color:#00506a; font-weight: bold;" class="form-label">Tipo de Habitación </label>
      <div class="col-lg-12">
        <mat-select #tipoCuarto
                    class="form-control form-control-lg form-control-solid"
                    name="habitacion"
                    (selectionChange)="habValue($event)"
                    placeholder="-- Seleccione Tipo de Habitación -- ">
            <mat-option value="1">Todos los Tipos de Cuartos</mat-option>
            <mat-option *ngFor="let tipoCuarto of codigoCuarto" [value]="tipoCuarto">{{tipoCuarto.replace("_"," ")}} </mat-option>
        </mat-select>
      </div>
    </div>
<br>
    <div class="row">
      <label style="color:#00506a; font-weight: bold;" class="form-label">Numero de Habitacion </label>
      <div class="col-lg-12">
          <mat-select #matSelect
                      class="form-control form-control-lg form-control-solid"
                      [formControl]="habitacionfb"
                      multiple
                      placeholder="-- {{placeHolder}} -- ">
            <footer>
              <button style="background-color: #319dd7;" (click)="okayChecked()" mat-raised-button class="btn btn-blocked">Confirmar</button>
            </footer>
            <!-- <mat-option (click)="Allchecked($event)">Todos</mat-option> -->
              <div>
                <mat-option #matOption (click)="cuartoValue(matOption.selected,matOption.value);" *ngFor="let numero of mySet" [value]="numero">{{numero}}</mat-option>
              </div>
          </mat-select>
      </div>
    </div>

    <br>
    <div class="row">
      <label style="color:#00506a; font-weight: bold;" class="form-label">Restricciones:</label>
    <div style="background-color: transparent;" class="form-control">
          <section class="example-section">
            <mat-checkbox
                          #sinLlegadas
                          (change)="toggleLlegadas($event)"
                          style="margin: 5pxpx; color:#00506a; font-weight: bold;"
                          class="example-margin"
                          [checked]="sinLlegadasChecked">
                          No hay Llegadas &nbsp;
            </mat-checkbox>
            <mat-checkbox
                          #sinSalidas
                          (change)="toggleSalidas($event)"
                          style="color:#00506a; font-weight: bold;"
                          class="example-margin"
                          [checked]="sinSalidasChecked">
                          No Hay Salidas
            </mat-checkbox>
          </section>
        <small>No Hay Llegadas + Salidas = <label  style="color: #fa6d7c; font-weight:bold">Fuera de Servicio</label></small>
      </div>
        </div>
        <br>
        <br>
        <label style="color:#00506a; font-weight: bold;" class="form-label"> Comentarios: </label>
      <div class="row">
        <textarea  #text class="form-control">

        </textarea>

      </div>
</div>





<div style="background-color:#00506a;" class="modal-header">
  <div style="color: white; padding-top: 1%; padding-bottom: 1%;" class="text-center modal-title h5 col-12">
    <button type="submit" style="background-color: #319dd7; color: white; font-weight: bold;" class="btn btn-block">GUARDAR BLOQUEO</button>
  </div>
</div>
</form>


<div class="table-responsive angular-bootstrap-table">
  <div class="font-weight-bold text-uppercase modal-header">Lista de Bloqueos
    <button style="background-color: #319dd7; color: white; font-weight: bold;" class="btn" (click)="getBloqueos()"> Actualizar</button>
  </div>
  <table style="overflow-y: 100px;" class="table table-head-custom table-vertical-center ">
    <thead>
      <th>
        Habitacion
      </th>
      <th>
        Mov Rooms
      </th>
      <th>
        Fechas
      </th>
      <th>
        Restricciones
      </th>
      <th>
        Comentarios
      </th>
      <th>Acciones</th>

    </thead>
    <tbody *ngIf="!isLoading">
      <ng-container *ngFor="let bloqueos of listaBloqueos">
        <tr>
          <td>
            <ng-container *ngFor="let habitacion of bloqueos.Habitacion">
              {{habitacion}}
            </ng-container>
          </td>
          <td>
            <ng-container *ngFor="let cuartos of bloqueos.Cuarto">
              {{cuartos}}
            </ng-container>
          </td>
          <td >{{ bloqueos.Desde}}  {{ bloqueos.Hasta}}</td>
          <td >

            <section class="example-section">
                <mat-checkbox
                      [checked]="bloqueos.sinLlegadas"
                      style="margin: 5pxpx; color:#00506a; font-weight: bold;"
                      class="example-margin"
                      #sinLlegadas
                      >
                      No hay Llegadas &nbsp;
                </mat-checkbox>
                <mat-checkbox
                      [checked]="bloqueos.sinSalidas"
                      style="color:#00506a; font-weight: bold;"
                      class="example-margin"
                      #sinSalidas>
                      No Hay Salidas
                </mat-checkbox>
                <mat-checkbox
                      [checked]="bloqueos.fueraDeServicio"
                      style="color:#00506a; font-weight: bold;"
                      class="example-margin"
                      #fueraDeServicio>
                      Fuera de Servicio
                </mat-checkbox>
            </section>
          </td>
          <td>
           <textarea
           #textArea>
            {{bloqueos.Comentarios}}
           </textarea>
          </td>
          <a
          title="Guardar Cambios"
          class="mx-3 btn btn-icon btn-light btn-hover-primary btn-sm"
          (click)="edit(bloqueos._id,bloqueos.Desde,bloqueos.Hasta,bloqueos.Habitacion,bloqueos.Cuarto,sinLlegadas.checked,sinSalidas.checked,fueraDeServicio.checked,textArea.value);"
          >
          <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
            class="svg-icon svg-icon-md svg-icon-primary">
          </span>
        </a>

        <a  title="Eliminar Bloqueo"
            class="btn btn-icon btn-light btn-hover-danger btn-sm"
            (click)="openDelete(deleteID,bloqueos._id,bloqueos.Desde,bloqueos.Hasta,bloqueos.Habitacion,bloqueos.Cuarto)"
            >
          <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
            class="svg-icon svg-icon-md svg-icon-danger">
          </span>
        </a>
        </tr>
    </ng-container>
    </tbody>
    <tbody *ngIf="isLoading">
      <h3>Cargando Datos...
        </h3>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Cargando</span>
      </div>
    </tbody>
  </table>
</div>

<div *ngIf="error!=null" class="font-weight-bold text-uppercase modal-header">
  <h3>{{error}}</h3>
</div>



<ng-template #exito let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{statusBloqueo}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div> -->
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click');getBloqueos()">Cerrar</button>
  </div>
</ng-template>

<ng-template #deleteID let-modal>
  <div class="modal-body">
    <p>¿Estas seguro Que quieres Borrar el Bloqueo?&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="borrar(idDelete,desdeDelete,hastaDelete,habitacionDelete,numeroDelete);modal.close('Close click')">Borrar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>
