<div class="modal-content">
  <div style="background-color: #00506a;" class="modal-header">
      <div style="text-align: center; color: white;" class="modal-title h4 col-10 text-center"
        id="example-modal-sizes-title-lg">
        BLOQUEO DE HABITACIONES
        <!-- <label>
          {{huesped.folio}}</label> -->
      </div>
      <button style="background-color:#fa6d7c; font-weight: bold; color: white;" class="btn" (click)="closeModal()"> X </button>

    </div>
</div>

<form (submit)="save(text.value); open(content) "  class="form form-label-right"
  style="background-color: #e6e9ed">
  <div class="overlay overlay-block cursor-default modal-body" style="background-color: #e6e9ed">

    <div class="row">
      <!--Hidden-->
      <div class="form-group hidden">
        <div class="input-group">
          <input hidden name="datepicker" class="form-control" ngbDatepicker [footerTemplate]="footerTemplate"
            #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)"
            [displayMonths]="1" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
      <!--Hidden-->


      <label style="color:#00506a; font-weight: bold;" class="form-label">Selecciona Rango de Fecha</label>
      <div class="input-group mb-3 col-lg-9">
        <div class="input-group-prepend">
          <button
            style="border-top: 2px solid #dadcdf;border-bottom: 2px solid #dadcdf;border-left: 2px solid #dadcdf; background-color: transparent;"
            class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
            <i class="fa fa-calendar icon"></i>
          </button>
        </div>
        <input #rango type="text"
          style="border-right: 2px solid #dadcdf;border-top: 2px solid #dadcdf;border-bottom: 2px solid #dadcdf; background-color: #e6e9ed; color: #02597e;"
          class="form-control" [value]="rangoFechas(dpFromDate.value,dpToDate.value)" (click)="datepicker.toggle()">
      </div>

      <!--Hidden-->
      <input hidden #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
        [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
      <input hidden #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
        [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
      <!--Hidden-->
      <!--Calendar Footer-->
      <ng-template #footerTemplate>
        <hr class="my-0">
        <button class="btn btn-secondary btn-sm m-2 float-right" (click)="datepicker.close()">Confirmar</button>
      </ng-template>
      <!--Calendar Footer-->
    </div>


    <div class="row">
      <label style="color:#00506a; font-weight: bold;" class="form-label">Tipo de Habitación </label>
      <div class="col-lg-12">
        <mat-select #tipoCuarto
                    class="form-control form-control-lg form-control-solid"
                    name="habitacion"
                    (selectionChange)="habValue($event)"
                    placeholder="-- Cualquiera -- ">
            <mat-option value="1">Todos los Tipos de Cuartos</mat-option>
            <mat-option *ngFor="let tipoCuarto of codigoCuarto" [value]="tipoCuarto">{{tipoCuarto.replace("_"," ")}} </mat-option>
        </mat-select>
      </div>
    </div>
<br>
    <div class="row">
      <label style="color:#00506a; font-weight: bold;" class="form-label">Numero de Habitacion </label>
      <div class="col-lg-12">
          <mat-select #matSelect
                      (change)="cuartoValue($event)"
                      class="form-control form-control-lg form-control-solid"
                      [formControl]="habitacionfb"
                      multiple
                      placeholder="-- Cualquiera -- ">
                      >
            <!-- <mat-select-trigger>
              {{habitacionfb.value ? habitacionfb.value[0] : ''}}
              <span *ngIf="habitacionfb.value?.length > 1" class="example-additional-selection">
                ({{habitacionfb.value.length - 1}} {{habitacionfb.value?.length === 2 ? 'Otra' : 'Otras'}})
              </span>
            </mat-select-trigger> -->
              <div>
                <mat-option *ngFor="let numero of infoCuarto" [value]="numero">{{numero.Numero}}</mat-option>
              </div>
            <footer>
              <button style="background-color: #319dd7;" (click)="okayChecked()" mat-raised-button class="btn ">Confirmar</button>
            </footer>
          </mat-select>
      </div>
    </div>

    <br>
    <div class="row">
      <label style="color:#00506a; font-weight: bold;" class="form-label">Restricciones:</label>
    <div style="background-color: transparent;" class="form-control">
          <section class="example-section">
            <mat-checkbox
                          (change)="toggleLlegadas($event)"
                          style="margin: 5pxpx; color:#00506a; font-weight: bold;"
                          class="example-margin">
                          No hay Llegadas &nbsp;
            </mat-checkbox>
            <mat-checkbox
                          (change)="toggleSalidas($event)"
                          style="color:#00506a; font-weight: bold;"
                          class="example-margin">
                          No Hay Salidas
            </mat-checkbox>
          </section>
        <small>No Hay Llegadas + Salidas = <label  style="color: #fa6d7c; font-weight:bold">Fuera de Servicio</label></small>
      </div>
        </div>
        <br>
        <br>
        <label style="color:#00506a; font-weight: bold;" class="form-label"> Comentarios: </label>
      <div class="row">
        <textarea  #text class="form-control">

        </textarea>

      </div>
</div>





<div style="background-color:#00506a;" class="modal-header">
  <div style="color: white; padding-top: 1%; padding-bottom: 1%;" class="modal-title h5 col-12 text-center">
    <button type="submit" style="background-color: #319dd7; color: white; font-weight: bold;" class="btn btn-block">GUARDAR BLOQUEO</button>
  </div>
</div>
</form>




<div  class="table-responsive angular-bootstrap-table">
  <div class="font-weight-bold text-uppercase modal-header">Lista de Bloqueos </div>
  <table  class="table table-head-custom table-vertical-center overflow-hidden">
    <thead>
      <th>
        Habitacion
      </th>
      <th>
        Mov Rooms
      </th>
      <th>
        Fechas
      </th>
      <th>
        Restricciones
      </th>
      <th>
        Comentarios
      </th>
      <th>Acciones</th>

    </thead>
    <tbody>
      <ng-container *ngFor="let bloqueos of listaBloqueos">
        <tr>
          <td >{{ bloqueos.Habitacion}}</td>
          <td >{{ bloqueos.Cuarto}}</td>
          <td >{{ bloqueos.Desde}} - {{ bloqueos.Hasta}}</td>
          <td >
            <section class="example-section">
                <mat-checkbox
                      [checked]="bloqueos.sinLlegadas"
                      style="margin: 5pxpx; color:#00506a; font-weight: bold;"
                      class="example-margin">
                      No hay Llegadas &nbsp;
                </mat-checkbox>
                <mat-checkbox
                      [checked]="bloqueos.sinSalidas"
                      style="color:#00506a; font-weight: bold;"
                      class="example-margin">
                      No Hay Salidas
                </mat-checkbox>
                <mat-checkbox
                      [checked]="bloqueos.fueraDeServicio"
                      style="color:#00506a; font-weight: bold;"
                      class="example-margin">
                      Fuera de Servicio
                </mat-checkbox>
            </section>
          </td>
          <td>
            {{bloqueos.comentarios}}
          </td>
          <a
          title="Editar Folio"
          class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
          (click)="edit(bloqueos._id)"
          >
          <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
            class="svg-icon svg-icon-md svg-icon-primary">
          </span>
        </a>

        <a  title="Delete huesped"
            class="btn btn-icon btn-light btn-hover-danger btn-sm"
            (click)="edit(bloqueos._id)"
            >
          <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
            class="svg-icon svg-icon-md svg-icon-danger">
          </span>
        </a>
        </tr>
    </ng-container>
    </tbody>

  </table>
</div>


<!--External Modal-->
<div class="example-preview">
  <div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">

        <h1>Bloqueos</h1>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Bloqueo Generado con Exito</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Continuar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </ng-template>
    <!-- <button class="btn btn-primary" (click)="open(content)">Launch demo modal</button> -->
  </div>
</div>
