.name-container-dropdown
  {
    position: absolute;
    z-index:1;
    width:80%;
    height:80%;
    max-height:150px;
    background:#F6F6F6;
    overflow-y:auto
  }
  #close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

//   .ngb-dp-day {
//   width: 4rem !important;
//   height: 4rem !important;
// }

// .ngb-dp-day > div {
//   width: 4rem !important;
//   height: 4rem !important;
//   line-height: 4rem !important;
// }

// .ngb-dp-weekday {
//   width: 4rem !important;
// }
