<div class="modal-content">
  <div style="background-color: #00506a;" class="modal-header">
    <div style="text-align: center; color: white;" class="text-center modal-title h4 col-10"
      id="example-modal-sizes-title-lg">
      NUEVA RESERVA
      <!-- <label>
        {{huesped.folio}}</label> -->
    </div>
    <button style="background-color:#fa6d7c; font-weight: bold; color: white;" class="btn" (click)="closeModal()"> X </button>

  </div>


</div>
<div class="cursor-default overlay overlay-block modal-body" style="background-color: #e6e9ed">
<form (ngSubmit)="onSubmit(); customerServiceFetch()" [formGroup]="formGroup" class="form form-label-right" style="background-color: #e6e9ed">

<div class="row">
  <div class="input-group col-lg-3">
    <div class="input-group-prepend">
      <label style="padding-top: 15%; color:#00506a; font-weight: bold;">
        Noches:
      </label>
    </div>
    <label style="padding-left: 20%; padding-top: 2%;" class="font-weight-bold h1"> {{huesped.noches}}</label>
  </div>
</div>
  <div class="row">
    <!-- <label style="color:#00506a; font-weight: bold;" class="form-label">Selecciona Fecha Incial</label> -->
    <div class="col-lg-6">
      <div class="form-group">
        <label style="color:#00506a; font-weight: bold;" class="form-label">Fecha Inicial</label>
        <div class="input-group">

          <input hidden class="form-control" placeholder="yyyy-mm-dd" name="dp"  ngbDatepicker 
          (dateSelect)="fechaSeleccionadaInicial($event)" [minDate]="today" [startDate]="fromDate" #d="ngbDatepicker">

          <input class="form-control" placeholder="yyyy-mm-dd" name="dpnotHidden" #dd [value]="fechaInicial" >

            <div class="input-group-append">
            <button class="btn btn-primary" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <label style="color:#00506a; font-weight: bold;" class="form-label">Selecciona Fecha Final</label> -->
    <div class="col-lg-6">
      <div class="form-group" >
        <label style="color:#00506a; font-weight: bold;" class="form-label">Fecha Final</label>
        <div class="input-group">
          <input hidden class="form-control" [minDate]="tomorrow" [startDate]="toDate" placeholder="yyyy-mm-dd" name="dp"  ngbDatepicker
          (dateSelect)="fechaSeleccionadaFinal($event)" #f="ngbDatepicker">

          <input class="form-control"  placeholder="yyyy-mm-dd" name="dpnotHidden" #ff  [value]="fechaFinal" >

          <div class="input-group-append">
            <button class="btn btn-primary" (click)="f.toggle()" type="button">
              <i class="fa fa-calendar icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="display==false" class="row">
    <small> <label #contentPlaceholder  style="color: #fa6d7c; font-weight:bold">La fecha inicial no puede ser mayor ni igual a la fecha final seleccione otro rango de fechas para el bloqueo</label></small>
</div>

  <div class="row">

</div>

              <div class="row">
                <div class="form-group col-lg-6">
                  <label style="color:#00506a; font-weight: bold;" class="form-label">Adultos</label>
                  <div class="input-group">
                    <div class="input-group-append">
                      <button style="background-color: transparent;border-right: 2px solid #e6e9ed; border-left: 2px solid #dadcdf; border-top : 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;" class="btn btn-secondary" (click)="minus()" type="button" ng-click="countVal=countVal+1">
                        <i class="fa fa-minus">
                        </i>
                      </button>
                    </div>
                    <input
                      style="background-color: #e6e9ed; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;  border-left: 2px solid #e6e9ed;"
                      class="text-center input-group form-control form-control-lg form-control-solid"
                      #controladultos
                      placeholder=""
                      disabled
                      name="adultos"
                      [value]="quantity"
                      formControlName="adultos"
                      [class.is-invalid]="isControlInvalid('adultos')"
                      [class.is-valid]="isControlValid('adultos')"
                      >
                      <div
                      class="invalid-feedback"
                      *ngIf="controlHasError('max', 'adultos')"
                      >
                      Maximo {{maxAdultos}} Adultos
                      </div>
                    <div class="input-group-append">
                      <button style="border-right: 2px solid #dadcdf; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf; background-color: transparent;" class="btn btn-secondary" (click)="plus()" type="button">
                        <i class="fa fa-plus">
                        </i>
                      </button>
                    </div>


                  </div>
                </div>

                <div class="form-group col-lg-6">

                  <label style="color:#00506a; font-weight: bold;" class="form-label">Niños</label>
                  <div class="input-group">
                    <div class="input-group-append">
                      <button style="background-color: transparent; border-left: 2px solid #dadcdf; border-top: 2px solid #dadcdf; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;" class="btn btn-secondary" (click)="minusNin()" type="button">
                        <i class="fa fa-minus">
                        </i>
                      </button>
                    </div>
                    <input
                      style="background-color: #e6e9ed; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf; border-left: 2px solid #e6e9ed;"
                      disabled
                      class="text-center input-group form-control form-control-lg form-control-solid" placeholder=""
                      name="ninos"
                      [value]="quantityNin"
                      value={{huesped.ninos}}
                      formControlName="ninos"
                      [class.is-invalid]="isControlInvalid('ninos')"
                      [class.is-valid]="isControlValid('ninos')"
                      >
                    <div class="input-group-append"
                      class="invalid-feedback"
                      *ngIf="controlHasError('maxlength', 'ninos')"
                    >
                      Maximo {{maxNinos}} Niños
                    </div>
                    <div class="input-group-append">
                      <button style="background-color: transparent; border-right: 2px solid #dadcdf; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;" class="btn btn-secondary" (click)="plusNin()" type="button">
                        <i class="fa fa-plus">
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <label style="color:#00506a; font-weight: bold;" class="form-label" >Habitación </label>
                <div class="col-lg-12">
                  <mat-select #tipodeCuartoDropDown
                  class="form-control form-control-lg "
                  name="habitacion"
                  formControlName="habitacion"
                  (selectionChange)="buscaDispo($event.value)"
                  placeholder="-- Seleccione Tipo de Habitación -- " 
                  required
                  [disabled]="!display"
                  >
                  <mat-option value="0">-- Selecciona Habitación --</mat-option>
                      <mat-option value="1">Todos los Tipos de Cuartos</mat-option>
                      <mat-option *ngFor="let tipoCuarto of codigoCuarto" [value]="tipoCuarto">{{tipoCuarto.replace("_"," ")}} </mat-option>
                  </mat-select>
                   
                      <mat-error *ngIf="habitacion.errors?.required">
                        * Campo Obligatorio
                      </mat-error>
                </div>
              </div>

<br>

<ng-container *ngIf="isLoading">
  <app-inline-spinner></app-inline-spinner>
</ng-container>
  <ng-container *ngIf="mySet.size !==0 ">
      <mat-accordion [style]="accordionDisplay" class="example-headers-align" multi>
        <mat-expansion-panel  [expanded]="step === 1"  hideToggle>
            <mat-expansion-panel-header style="background-color:#99d284;">
            <mat-panel-title>
              CON DISPONIBILIDAD
            </mat-panel-title>
            <mat-panel-description *ngIf="bandera==false">
            </mat-panel-description>
            <mat-panel-description *ngIf="bandera==true">
             </mat-panel-description>
          </mat-expansion-panel-header>

          <!--Contenido del Accordion-->
          <div  class="table-responsive angular-bootstrap-table">
            <ng-container *ngFor="let codigosCuarto of personasXCuarto;  ">
              <div *ngIf="codigosCuarto.Codigo==cuarto" style="color: rgba(128, 128, 128, 0.623);" class="font-weight-bold modal-header"><a style="color: black">{{codigosCuarto.Codigo.replace("_"," ").toUpperCase()}}</a> (Cap. Max.: {{codigosCuarto.Personas}})</div>
            </ng-container>
              <table *ngIf="bandera===false" class="table overflow-hidden table-head-custom table-vertical-center">
                <thead>
                  <th  >
                    HAB
                  </th>
                  <th>
                    {{divisasService.getcurrentDivisa.Simbolo}} NOCHE
                  </th>
                  <th>
                    {{divisasService.getcurrentDivisa.Simbolo}} TOTAL
                  </th>
                  <!-- <th >
                    CAPACIDAD
                  </th> -->
                </thead>
                <ng-container *ngFor="let habitacionesDisponibles of mySet">
                  <ng-container *ngFor="let tipocuarto of cuartos">
                  <tbody *ngIf="tipocuarto.Numero == habitacionesDisponibles">
                    <tr>
                      <td ><mat-checkbox formControlName="checkbox" [checked]="tipocuarto.value" #checked (change)="preAsignar(tipocuarto.Numero,tipocuarto.Codigo,checked.checked,tipocuarto.Tarifa)"></mat-checkbox> &nbsp; {{ tipocuarto.Numero }}</td>
                      <td >{{ tipocuarto.Tarifa.toLocaleString("es-MX") }}.00</td>
                      <td >{{ (tipocuarto.Tarifa * diaDif).toLocaleString("es-MX") }}.00</td>
                      <!-- <td style="text-align: center;">{{ tipocuarto.Personas }} - {{tipocuarto.Personas_Extra}} </td> -->
                    </tr>
                  </tbody>
                </ng-container>
              </ng-container>
              </table>

<ng-container *ngIf="bandera==true">
  <ng-container *ngFor="let codigosCuarto of personasXCuarto;  ">
    <div style="color: rgba(128, 128, 128, 0.623);" class="font-weight-bold modal-header"><a style="color: black">{{codigosCuarto.Codigo.replace("_"," ").toUpperCase()}}</a> (Cap. Max.: {{codigosCuarto.Personas}})</div>
        <table class="table overflow-hidden table-head-custom table-vertical-center">
          <thead>
            <th  >
              HAB
            </th>
            <th>
              {{divisasService.getcurrentDivisa.Simbolo}} NOCHE
            </th>
            <th>
              {{divisasService.getcurrentDivisa.Simbolo}} TOTAL
            </th>
            <!-- <th >
              CAPACIDAD
            </th> -->
          </thead>
          <ng-container *ngFor="let habitacionesDisponibles of mySet">
            <ng-container *ngFor="let tipocuarto of cuartos">
            <tbody *ngIf="tipocuarto.Numero == habitacionesDisponibles && tipocuarto.Codigo == codigosCuarto.Codigo">
              <tr>
                <td ><mat-checkbox formControlName="checkbox" [checked]="tipocuarto.value" #checked (change)="preAsignar(tipocuarto.Numero,tipocuarto.Codigo,checked.checked,tipocuarto.Tarifa)"></mat-checkbox> &nbsp; {{ tipocuarto.Numero }}</td>
                <td >{{ tipocuarto.Tarifa.toLocaleString("es-MX") }}.00</td>
                <td >{{ (tipocuarto.Tarifa * diaDif).toLocaleString("es-MX") }}.00</td>
                <!-- <td style="text-align: center;">{{ tipocuarto.Personas }} - {{tipocuarto.Personas_Extra}} </td> -->
              </tr>
            </tbody>
          </ng-container>
        </ng-container>
      </table>
    </ng-container>
</ng-container>


            </div>
        </mat-expansion-panel>
      </mat-accordion>
     </ng-container>
     <!--SIN DISPONIBILIDAD-->
     <ng-container *ngIf="mySet.size === 0 && inicio===false"  >
      <mat-accordion  [style]="accordionDisplay" class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header style="background-color:#fa6d7c;">
            <mat-panel-title>
              SIN DISPONIBILIDAD
            </mat-panel-title>
            <mat-panel-description>
             <!--Type your name and age-->
             Consulte Otro Tipo de Habitacion
              <!-- <mat-icon>account_circle</mat-icon> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!--Contenido del Accordion-->
        </mat-expansion-panel>
      </mat-accordion>
     </ng-container>

     <br>

     <div style="background-color:#00506a;" class="modal-tittle">
      <div style="color: white; padding-top: 1%; padding-bottom: 1%;" class="text-center modal-title h5 col-12">
        Agrega Húesped
      </div>
     </div>

    <div class="cursor-default overlay overlay-block modal-body" style="background-color: #dadcdf">
      <div class="form-group">
        <div class="row">
          <label class="form-label" for="form1">&nbsp;&nbsp; &nbsp;Buscar Cliente</label>
          <div  class="text-center input-group col-lg-12">
              <input  #filterName
                      type="search"
                      placeholder="Busca por Nombre"
                      aria-label="Number"
                      matInput
                      formControlName="searchTerm"
                      class="text-center form-control col-lg-12"
                      (keyup)="showList($event)"
                      value="{{searchValue}}"
                      oninput="this.value = this.value.toLowerCase()"
                      />
            <!-- <button type="button" (click)="toggleSearch()" class="btn btn-primary">
              <i class="fas fa-search"></i>
            </button> -->
          </div>
        </div>
        <div  [style]="displayNone" class="name-container-dropdown">
          <button type="button" (click)="closeList();filterName.value = '';limpiaInput() " class="btn btn-block" style="background-color: #fa6d7c; font-weight: bold; color: white;">Cancelar</button>
          <mat-selection-list  (click)="closeList(); onSelectHuesped(nombres.selectedOptions.selected[0]?.value)" #nombres [multiple]="false" >
            <mat-list-option *ngFor="let huesped of historicoService.items$ | async"  [value]="huesped">
              {{huesped.nombre}}
            </mat-list-option>
          </mat-selection-list>
          <!-- <span id='close'   .selected[0]?.value     onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span> -->
        </div>
      </div>


        <div class="row">
          <div class="col-lg-12">
            <label class="form-label">Nombre Completo</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="nombre"
              placeholder="Nombre completo"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('nombre')"
              formControlName="nombre"
              value="{{huesped.nombre}}"
            /><!--[class.is-valid]="isControlValid('nombre')"-->
            <div class="valid-feedback" *ngIf="isControlValid('nombre')">
              Nombre Escrito Correctamente
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'nombre')"
            >
              Campo Requerido*
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'nombre')"
            >
              Minimo 3 letras
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxlength', 'nombre')"
            >
              Maximo 100 letras
            </div>
            <mat-error *ngIf="nombre.errors?.required">
              * Obligatorio
            </mat-error>
          </div>
        </div>


        <div class="form-group row">

        <div class="col-lg-6">
          <label class="form-label">Email</label>
          <input
            type="email"
            class="form-control form-control-lg form-control-solid"
            name="email"
            placeholder="Email"
            autocomplete="off"
            formControlName="email"
            value="{{huesped.email}}"
            [class.is-invalid]="isControlInvalid('email')"/>
            <!--(input)="emailValidator($event.target.value)/>"-->
          <!--
          [class.is-invalid]="isControlInvalid('email')"
            [class.is-valid]="isControlValid('email')"-->
          <!-- <div class="valid-feedback" *ngIf="isControlValid('email')">
            Email Escrito Correctamente
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'email')"
          >
            Minimo 3 letras
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'email')"
          >
            Maximo 100 letras
          </div>
          <div
          class="invalid-feedback"
          *ngIf="controlHasError('pattern', 'email')"
        >
          Escriba un correo valido
        </div> -->
        </div>

        <div class="col-lg-6">
          <label class="form-label">Teléfono</label>
          <input
            type="tel"
            class="form-control form-control-lg form-control-solid"
            name="telefono"
            placeholder="Teléfono"
            autocomplete="off"
            formControlName="telefono"
            value="{{huesped.telefono}}"/>
           <!--[class.is-invalid]="isControlInvalid('telefono')"/>-->
          <!--[class.is-invalid]="isControlInvalid('telefono')"
            [class.is-valid]="isControlValid('telefono')"-->
          <!-- <div class="invalid-feedback" *ngIf="isControlValid('telefono')">
            Teléfono Invalido
          </div> -->
          <!-- <div class="valid-feedback" *ngIf="isControlValid('telefono')">
            Teléfono Escrito Correctamente
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'telefono')"
          >
            Minimo 10 numeros
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'telefono')"
          >
            Maximo 14 numeros
          </div>
          <div
          class="invalid-feedback"
          *ngIf="controlHasError('pattern', 'telefono')"
          >
           Solo se permiten números
        </div> -->
        </div>

      </div>
    </div>



    <div style="background-color:#00506a;" class="modal-header">
      <div style="text-align: center; color: white;" class="text-center modal-title h4 col-12 "
        id="example-modal-sizes-title-lg">
       Confirmar el Tipo de Reserva
        <div class="form-group row">
          <div class="form-group col-lg-6 ">
                <button
                class="btn btn-block"
                style="background-color:#99d284 ;"
                type="submit"
                name="estatus"
                [disabled]="preAsig.size===0||!isControlValid('nombre') || !noDisabledCheckIn"
                (click)="setEstatus(1)"
                >
                  Realiza Walk-In
                </button>
          </div>
          <div class="form-group col-lg-6 ">
                <button
                class="btn btn-block"
                style="background-color:#fac34e ;"
                type="submit"
                name="estatus"
                [disabled]="preAsig.size===0||!isControlValid('nombre')"
                (click)="setEstatus(2); "
                >
                  Agrega Reserva
                </button>
          </div>
          <div class="form-group col-lg-6 ">
                <button
                class="btn btn-block"
                style="background-color:#d0aaec ;"
                type="submit"
                [disabled]="preAsig.size===0||!isControlValid('nombre')"
                (click)="setEstatus(5)"
                >

                  Reserva Uso Interno
                </button>
          </div>
          <div class="form-group col-lg-6">
                <button
                  class="btn btn-block"
                  style="background-color:#fab3db ;"
                  type="submit"
                  value="7"
                  [disabled]="preAsig.size===0||!isControlValid('nombre')"
                  (click)="setEstatus(7)"
                  >
                  Reserva Temporal
                </button>
          </div>
        </div>
      </div>
    </div>

</form>

<div id="overlay" data-loading>
  <i class="icon-spinner icon-do-spin" ></i>
</div>

<div class="example-preview">
  <span *ngIf="closeResult">
    <pre>{{closeResult}}</pre>
  </span>
  <div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div  class="modal-header">
        <h4 *ngIf="huesped.folio!=undefined" class="modal-title">Folio # {{this.huesped.folio}}</h4>
        <h4 *ngIf="huesped.folio==undefined" class="modal-title">Reserva Generada</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p *ngIf="huesped.folio!=undefined">Folio # {{huesped.folio}} Generado con Exito </p>
        <p *ngIf="huesped.folio==undefined">Cliente Guardado con Exito </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Continuar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </ng-template>
    <!-- <button class="btn btn-primary" (click)="open(content)">Launch demo modal</button> -->
  </div>
</div>
