
.name-container-dropdown
  {
    position: absolute;
    z-index:1;
    width:80%;
    height:80%;
    max-height:150px;
    background:#F6F6F6;
    overflow-y:auto
  }
  #close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}
select {
  background-image:
    linear-gradient(45deg, transparent 50%, #00506a 60%),
    linear-gradient(135deg, #00506a 40%, transparent 50%) !important;
  background-position:
    calc(100% - 30px) 14px,
    calc(100% - 20px) 14px,
    100% 0;
  background-size:
    10px 10px,
    10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

//   .ngb-dp-day {
//   width: 4rem !important;
//   height: 4rem !important;
// }

// .ngb-dp-day > div {
//   width: 4rem !important;
//   height: 4rem !important;
//   line-height: 4rem !important;
// }

// .ngb-dp-weekday {
//   width: 4rem !important;
// }
