<!--begin::Container-->
<div
  [ngClass]="footerContainerCSSClasses"
  class="d-flex flex-column flex-md-row align-items-center justify-content-between"
>
  <!--begin::Copyright-->
  <div class="order-2 text-dark order-md-1">
    <span class="mr-2 text-muted font-weight-bold"
      >{{ currentYear }} &copy;</span
    >
    <a
      href="http://keenthemes.com/metronic"
      target="_blank"
      class="text-dark-75 text-hover-primary"
      >Version 2.0.1</a
    >
  </div>
  <!--end::Copyright-->

  <!--begin::Nav-->
  <div class="nav nav-dark">
    <a
      href="http://keenthemes.com/metronic"
      target="_blank"
      class="pl-0 pr-5 nav-link"
      >About</a
    >
    <a
      href="http://keenthemes.com/metronic"
      target="_blank"
      class="pl-0 pr-5 nav-link"
      >Version 2.1.1</a
    >
    <a
      href="http://keenthemes.com/metronic"
      target="_blank"
      class="pl-0 pr-0 nav-link"
      >Contact</a
    >
  </div>
  <!--end::Nav-->
</div>
<!--end::Container-->
