<div class="container">
    <div class="row">
      <div class="col-md-6">
        <br />
        <label class="control-label">Periodo:</label>
        <br />
        &nbsp;
        <label>{{ fullFechaLlegada }} - {{ fullFechaSalida }} </label>
      </div>
      <div class="col-md-6">
        <br />
        <label class="control-label">Número de Noches:</label>
        <br />
        &nbsp;
        <label>{{ huesped.noches }} </label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <br />
        <label class="control-label">ID de Reserva:</label>
        <br />
        &nbsp;
        <label>{{ huesped.folio }}</label>
      </div>
      <div class="col-md-6">
        <br />
        <label class="control-label">Habitacion / Cama:</label>
        <br />
        &nbsp;
        <label>{{ huesped.habitacion.replace("_"," ") }} - {{huesped.numeroCuarto}}</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <br />
        <label class="control-label">Adultos / Personas:</label>
        <br />
        &nbsp;
        <label>{{ huesped.adultos }} </label>
      </div>
      <div class="col-md-6">
        <br />
        <label class="control-label">Niños:</label>
        <br />
        &nbsp;
        <label>{{ huesped.ninos }} </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <br />
        <label class="control-label">Creada:</label>
        <br />
        &nbsp;
        <label>{{ huesped.creada }} </label>
      </div>
      <div class="col-md-6">
        <label class="control-label">
          <br />
          Origen de Reserva:
        </label>
        <br />
        &nbsp;
        <select
          style="border: 2px solid rgb(177, 177, 177)"
          class="btn btn-white"
        >
          <option selected>{{ huesped.origen }}</option>
          <option>Pagina Web</option>
          <option>Booking</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <br />
        <label class="font-weight-bold control-label"
          >Pago Via Pagina Web:</label
        >
        <br />
        &nbsp;
        <label>Paypal - 0 </label>
      </div>
      <div class="col-md-6">
        <br />
        <label class="font-weight-bold control-label"
          >Pagado Via Pagina Web:</label
        >
        <br />
        &nbsp;
        <label>$0.00 </label>
      </div>
    </div>
  </div>

  <br />
  <div style="background-color: #319dd7" class="modal-content sub-menu">
    <label
      class="h4"
      style="color: aliceblue; text-align: center; padding-top: 5px"
    >
      Estancia
    </label>
  </div>

  <div class="row col-md-12">
    <div class="col-sm-6">
      <br />
      <label class="control-label">A Pagar por Noche:</label>
      <br />
      <input
        disabled
        style="width: 150px"
        class="form-control"
        type="text"
        value="$ {{
          ((huesped.tarifa)).toLocaleString('es-MX')
        }}    MXN"
      />
    </div>

    <div class="col-sm-6">
      <br />
      <label class="control-label">A Pagar por Estancia:</label>
      <br />
      <input
        disabled
        style="width: 150px"
        class="form-control"
        type="text"
        value="$ {{
          (huesped.tarifa * huesped.noches).toLocaleString('es-MX')
        }}    MXN"
      />
    </div>
  </div>

  <br />
  <div style="background-color: #319dd7" class="modal-content">
    <label
      class="h4"
      style="color: aliceblue; text-align: center; padding-top: 5px"
    >
      Recordatorio de Deposito
    </label>
  </div>
  <div class="row col-md-12">
    <div class="col-sm-6">
      <br />
      <label class="control-label">Cantidad Acordada:</label>
      <br />
      <input
        disabled
        style="width: 150px"
        class="form-control"
        type="text"
        value="$ 0.00    MXN"
      />
    </div>

      <div class="col-sm-6">
        <br>
        <label style="color:#00506a; font-weight: bold;" class="form-label">Selecciona Fecha Final</label>
        <div class="form-group" >
          <div class="input-group">
            <input hidden class="form-control"  placeholder="yyyy-mm-dd" name="dp"  ngbDatepicker
            (dateSelect)="fechaSeleccionadaFinal($event)" #f="ngbDatepicker">

            <input class="form-control"  placeholder="yyyy-mm-dd" name="dpnotHidden" #ff  [value]="fechaFinalBloqueo" >

            <div class="input-group-append">
              <button class="btn btn-primary" (click)="f.toggle()" type="button">
                <i class="fa fa-calendar icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

  
  </div>
  <div style="background-color: #319dd7" class="modal-content sub-menu">
    <label
      class="h4"
      style="color: aliceblue; text-align: center; padding-top: 5px"
    >
      SERVICIOS ADICIONALES
    </label>
  </div>
<br>

  <div class="row">
    <div style="text-align: center; justify-content:space-evenly;" class="col-md-12">
      <section class="example-section">
        <ng-container *ngFor="let adicional of adicionalArray">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox (change)="servicioAdicional($event,adicional.Adicional,adicional.Descripcion)"
          style="color:#00506a; font-weight: bold;">{{adicional.Descripcion}} </mat-checkbox>
        </ng-container>
      </section>      
      <br>
    </div>
  </div>

  <div style="background-color: #319dd7" class="modal-content sub-menu">
    <label
      class="h4"
      style="color: aliceblue; text-align: center; padding-top: 5px"
    >
      NOTAS DEL CLIENTE
    </label>
  </div>
  <br />

  <div class="row">
    <div style="text-align: center;" class="col-md-12">
      <textarea style="border: 2px solid rgb(177, 177, 177)" class="form-control">           - NOTAS EXTRAS DEL CLIENTE</textarea>
    </div>
  </div>
  <br />


  <div [style]="changeStyleHidden">
    <div
      style="
        border-radius: 5px;
        background-color: #162f58;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
      "
      class="col-md-12 container"
    >
      <label style="color: aliceblue"> Estado de Reserva / Folio </label>
    </div>
    <br />

    <div class="row">
      <div class="col-lg-12">
        <button
          class="btn btn-primary btn-block"
          type="submit"
          name="estatus"
          (click)="setEstatus(1)"
        >
          eFirma de Registro
        </button>
      </div>
      <div class="col-lg-12">
        <button
          class="btn btn-warning btn-block"
          type="submit"
          name="estatus"
          (click)="setEstatus(3)"
        >
          Realizar un Pago
        </button>
      </div>
      <div class="col-lg-12">
        <button
          class="btn btn-danger btn-block"
          type="submit"
          (click)="setEstatus(6)"
        >
          Realiza Check-Out
        </button>
      </div>
      <div class="f col-lg-12">
        <button
          class="btn btn-secondary btn-block"
          type="submit"
          value="7"
          (click)="setEstatus(7)"
        >
          Modifica Reserva
        </button>
      </div>
    </div>
  </div>