table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    text-align: center;
    width: 25%;
  }

  th.mat-header-cell {
      font-size: medium;
    font-weight : bold;
    text-align : center !important;
  }

  .header-align-right{
      width: 5%;
      text-align: left;
  }
  
  // .q-datepicker{
  //   ngb-datepicker{
  //     left:0 !important;
  //     width: 350px;
  //     .ngb-dp-months{
  //       .ngb-dp-month{
  //         width: 100%;
  //         .ngb-dp-weekday{
  //           width: 2.5rem;
  //           margin-right: .5rem;
  //         }
  //         .ngb-dp-week{
  //           .ngb-dp-day{
  //               width: 2.5rem;
  //               margin-right: .5rem;
  //               div{
  //                   width: 100%;
  //               }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
