
<div class="card card-custom gutter-b">
    <div class="card-header">
     <div class="card-title">
      <h3 class="card-label">
        Nueva Habitación
      </h3>
     </div>
    </div>
    <div class="float-container">
        <form [formGroup]="formGroup" >

        <div class="float-child"> <!--First Container-->
                    <div class="row col-lg-12">
                        <div class="form-group col-lg-12">
                            <label style="color:#00506a; font-weight: bold;">Nombre de la Habitación</label>
                            <input 
                                formControlName="nombre" 
                                style="background-color: #e6e9ed;" 
                                class="form-control"
                                [class.is-invalid]="isControlInvalid('nombre')"
                                [class.is-valid]="isControlValid('nombre')">
                                <div 
                                class="invalid-feedback"
                                *ngIf="controlHasError('cannotContainSpace','nombre')"
                                >El Nombre no puede contener espacio en blanco, utilize '_' en su lugar</div>
                                <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('required', 'nombre')"
                              >
                                El codigo del Cuarto es requerido
                              </div>
                              <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('minlength', 'nombre')"
                              >
                                El minimo de caracteres para el Codigo son 3
                              </div>
                              <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('maxlength', 'nombre')"
                              >
                                El Maximó de caracteres para el codigo son 100
                              </div>
                        </div>
                    </div>
                    <div class="row col-lg-12">
                        <div class="form-group col-lg-12">
                            <label style="color:#00506a; font-weight: bold;">Tipo de la Habitación</label>
                            <mat-select #tipodeCuartoDropDown
                            class="form-control form-control-lg "
                            formControlName="tipo"
                            placeholder="-- Seleccione Tipo de Habitación -- " 
                            required
                            [class.is-invalid]="isControlInvalid('tipo')"
                            [class.is-valid]="isControlValid('tipo')"
                            >
                            <mat-option value="0">-- Selecciona Tipo de Habitación --</mat-option>
                                <mat-option *ngFor="let tipoCuarto of tiposArr" [value]="tipoCuarto.Descripcion">{{tipoCuarto.Descripcion}} </mat-option>
                            </mat-select>                        
                        </div>
                        <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('required', 'tipo')"
                              >
                                El Tipo de Cuarto es requerido
                              </div>
                              <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('minlength', 'tipo')"
                              >
                                El minimo de caracteres para el tipo de cuarto son 3
                              </div>
                              <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('maxlength', 'tipo')"
                              >
                                El Maximó de caracteres para el tipo de cuarto son 100
                              </div>
                    </div>
                <div class="row col-lg-12">
                    <div class="form-group col-lg-12">
                        <label style="color:#00506a; font-weight: bold;">Descripción</label>
                        <textarea 
                        formControlName="descripcion" 
                        style="background-color: #e6e9ed;" 
                        class="form-control"
                        [class.is-invalid]="isControlInvalid('descripcion')"
                        [class.is-valid]="isControlValid('descripcion')"></textarea>
                        <div
                        class="invalid-feedback"
                        *ngIf="controlHasError('required', 'descripcion')"
                      >
                        La Descripción del cuarto es requerida
                      </div>
                      <div
                        class="invalid-feedback"
                        *ngIf="controlHasError('minlength', 'descripcion')"
                      >
                        El minimo de caracteres para la descripcion son 3
                      </div>
                      <div
                        class="invalid-feedback"
                        *ngIf="controlHasError('maxlength', 'descripcion')"
                      >
                        El Maximó de caracteres para la descripción son 100
                      </div>
                    </div>
                </div>
                <div class="row col-lg-12">
                    <div class="form-group col-lg-6">
                        <!-- <label style="color:#00506a; font-weight: bold;" class="form-label">Capacidad de Personas</label> -->
                            <div class="input-group">
                                <div class="input-group-append">
                                    <button style="background-color: transparent;border-right: 2px solid #e6e9ed; border-left: 2px solid #dadcdf; border-top : 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;" class="btn btn-secondary" (click)="minus()" type="button" ng-click="countVal=countVal+1">
                                        <i class="fa fa-minus">
                                        </i>
                                    </button>
                                </div>
                                <input
                                style="background-color: #e6e9ed; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;  border-left: 2px solid #e6e9ed;"
                                class="text-center input-group form-control form-control-lg form-control-solid"
                                placeholder=""
                                disabled
                                [value]="quantity"
                                min="1"
                                formControlName="personas"
                                [class.is-invalid]="isControlInvalid('personas')"
                                [class.is-valid]="isControlValid('personas')"
                                >
                                <div class="input-group-append">
                                    <button style="border-right: 2px solid #dadcdf; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf; background-color: transparent;" class="btn btn-secondary" (click)="plus()" type="button">
                                        <i class="fa fa-plus">
                                        </i>
                                    </button>
                                </div>
                            </div>
                    </div>
        
                    <div class="form-group col-lg-6">
                        <!-- <label style="color:#00506a; font-weight: bold;" class="form-label">Maximo de Personas Extra</label> -->
                            <div class="input-group">
                                <div class="input-group-append">
                                    <button style="background-color: transparent; border-left: 2px solid #dadcdf; border-top: 2px solid #dadcdf; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;" class="btn btn-secondary" (click)="minusExtra()" type="button">
                                        <i class="fa fa-minus">
                                        </i>
                                    </button>
                                </div>
                                <input
                                style="background-color: #e6e9ed; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf; border-left: 2px solid #e6e9ed;"
                                disabled
                                class="text-center input-group form-control form-control-lg form-control-solid" placeholder=""
                                [value]="quantityExtra"
                                formControlName="extras"
                                [class.is-invalid]="isControlInvalid('extras')"
                                [class.is-valid]="isControlValid('extras')"
                                >
                                <div class="input-group-append">
                                    <button style="background-color: transparent; border-right: 2px solid #dadcdf; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;" class="btn btn-secondary" (click)="plusExtra()" type="button">
                                        <i class="fa fa-plus">
                                        </i>
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row col-lg-12">
                    <div class="form-group col-lg-12">
                        <label style="color:#00506a; font-weight: bold;" class="form-label">Amenidades</label>
                        <div class="input-group">
                                <mat-select 
                                #itemSelect
                                class="form-control form-control-lg"
                                multiple  
                                [formControl]="amenidadesFC"
                                [(ngModel)]="resultLocation" 
                                >
                                <footer class="col-sm-12">
                                  <button (click)="itemSelect.close()" mat-raised-button class="col-sm-4 btn btn-primary">Confirmar</button>
                                </footer>
                                <mat-select-trigger>                                    
                                     <button *ngIf="amenidadesFC.value?.length > 0" class="button1">{{amenidadesFC.value[0]}}
                                        <span (click)="$event.stopPropagation(); amenidadesValue(amenidadesFC.value[0]); amenidadesFC.value.splice(0,1);" class="lesser-size start-100 translate-middle badge rounded-pill bg-danger">   X    </span>
                                    </button> 
                                    <button *ngIf="amenidadesFC.value?.length > 1" class="button2">{{amenidadesFC.value[1]}}
                                        <span (click)="$event.stopPropagation(); amenidadesValue(amenidadesFC.value[1]); amenidadesFC.value.splice(0,1);" class="lesser-size start-100 translate-middle badge rounded-pill bg-danger">   X    </span>
                                    </button>
                                    <button *ngIf="amenidadesFC.value?.length > 2" class="button3">{{amenidadesFC.value[2]}}
                                        <span (click)="$event.stopPropagation(); amenidadesValue(amenidadesFC.value[2]); amenidadesFC.value.splice(0,1);" class="lesser-size start-100 translate-middle badge rounded-pill bg-danger">   X    </span>
                                    </button> 
                                  
                                    <span *ngIf="amenidadesFC.value?.length > 3" class="additional-selection">
                                        (+{{amenidadesFC.value.length - 3}} {{amenidadesFC.value?.length === 4 ? 'mas' : 'mas'}})
                                    </span>
                                </mat-select-trigger>
                      
                                  <div>
                                    <mat-option #matOption [value]="amenidades.Descripcion" *ngFor="let amenidades of amenidadesArr; let i = index" >{{amenidades.Descripcion}}</mat-option>
                                  </div>
                                </mat-select>
                                <div class="input-group-append">

                                <button class="btn btn-secondary">
                                    <i class="ki ki-reload" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-lg-12">
                    <div class="form-group col-lg-12">
                        <label style="color:#00506a; font-weight: bold;" class="form-label">Camas</label>
                        <div class="input-group">
                                <mat-select 
                                #camasSelect
                                multiple
                                class="form-control form-control-lg"
                                [formControl]="camasFC"                               
                                [(ngModel)]="resultLocationCamas">
                                <footer class="col-sm-12">
                                  <button (click)="camasSelect.close()" mat-raised-button class="col-sm-4 btn btn-primary">Confirmar</button>
                                </footer>
                                <mat-select-trigger>                                
                                     <button *ngIf="camasFC.value?.length > 0" class="button1">{{camasFC.value[0]}}
                                        <span (click)="$event.stopPropagation(); camasValue(camasFC.value[0]); camasFC.value.splice(0,1);" class="lesser-size start-100 translate-middle badge rounded-pill bg-danger">   X    </span>
                                    </button> 
                                    <button *ngIf="camasFC.value?.length > 1" class="button2">{{camasFC.value[1]}}
                                        <span (click)="$event.stopPropagation(); camasValue(camasFC.value[1]); camasFC.value.splice(0,1);" class="lesser-size start-100 translate-middle badge rounded-pill bg-danger">   X    </span>
                                    </button>
                                    <button *ngIf="camasFC.value?.length > 2" class="button3">{{camasFC.value[2]}}
                                        <span (click)="$event.stopPropagation(); camasValue(camasFC.value[2]); camasFC.value.splice(0,1);" class="lesser-size start-100 translate-middle badge rounded-pill bg-danger">   X    </span>
                                    </button> 
                                  
                                    <span *ngIf="camasFC.value?.length > 3" class="additional-selection">
                                        (+{{camasFC.value.length - 3}} {{camasFC.value?.length === 4 ? 'mas' : 'mas'}})
                                    </span>
                                </mat-select-trigger>
                      
                                  <div>
                                    <mat-option (click)="$event.stopPropagation();" #matOption [value]="inputOption.value +' '+ camas.value" *ngFor="let camas of disponiblesIndexadosCamas; let i = index" [attr.data-index]="i"><input #inputOption [value]="camas.cantidad" style="width:25%; box-sizing: border-box;" class="col-sm-2" placeholder="Cant." (click)="$event.stopPropagation();" type="number" min="1">{{camas.value}} </mat-option>
                                  </div>
                                </mat-select>
                                <div class="input-group-append">

                                <button class="btn btn-secondary">
                                    <i class="ki ki-reload" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-lg-12">
                    <div class="form-group col-lg-12">
                        <label style="color:#00506a; font-weight: bold;">Vista</label>
                        <input formControlName="vista" style="background-color: #e6e9ed;" class="form-control">
                    </div>
                </div>

        </div> <!--End First Container-->
        
        <div class="float-child"> <!---Right Container-->
            <div class="col-md-12">
                <label style="color:#00506a; font-weight: bold;">Generar Habitaciones (Inventario)</label>
                <p>¿Cuantas habitaciones fisicas tendrá este tipo de habitación?
                Las habitaciones fisicas se crearan automaticamente en el Calendario
                Una vez guardada la habitación, podra ir a tarifas para asignarlas</p>
            </div>   
            <br>     
            <div class="input-group">
                <div class="input-group-append">
                    <button style="background-color: transparent;border-right: 2px solid #e6e9ed; border-left: 2px solid #dadcdf; border-top : 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;" class="btn btn-secondary" (click)="removeInput()" type="button">
                        <i class="fa fa-minus">
                        </i>
                    </button>
                </div>
                    <input
                    style="background-color: #e6e9ed; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf;  border-left: 2px solid #e6e9ed;"
                    class="text-center input-group form-control form-control-lg form-control-solid"
                    placeholder=""
                    disabled
                    formControlName="inventario"
                    [value]="quantityInv"
                    [class.is-invalid]="isControlInvalid('personas')"
                    [class.is-valid]="isControlValid('personas')"
                    >
    
                <div class="input-group-append">
                    <button style="border-right: 2px solid #dadcdf; border-top: 2px solid #dadcdf; border-bottom: 2px solid #dadcdf; background-color: transparent;" class="btn btn-secondary" (click)="addInput()" type="button">
                        <i class="fa fa-plus">
                        </i>
                    </button>
                </div>
            </div> 
            <br>
            <div class="form-group col-md-12" style="font-weight: bold;">
                <mat-checkbox #checked >¿Deseas asignar Numeración o Nombre Especiales? </mat-checkbox>
            </div> 
            <div class="form-group col-md-12" style="font-weight: bold;">
                <small class="col-lg-12" style="color: red;" *ngIf="nombresIguales">Los Nombres de las habitaciones no pueden ser identicos</small>
            </div>
            <ng-container *ngIf="checked.checked">
                <ng-container formArrayName="lessons">
                    <ng-container *ngFor="let inputForm of inputs.controls; let i = index">
                        <div [formGroup]="inputForm" class="form-group" style="float:left; margin: 5px;">
                            <input 
                            formControlName="nombreHabs"
                            placeholder="{{i+1}}.-" 
                            style="background-color: #e6e9ed;" 
                            class="form-control"
                            type="text"
                            [class.is-invalid]="nombresIguales">
                        </div>
                    </ng-container> 
                </ng-container>       
            </ng-container> 

            <br> 
            <div class="row form-group col-md-12">
                <label style="color:#00506a; font-weight: bold;">Orden de Visualizacion en el Calendario</label>
                <input  style="background-color: #e6e9ed;" class="form-control">
            </div>  
            <br>
            <div class="row form-group col-md-12">
                <label style="color:#00506a; font-weight: bold;">Fotografias de la Habitación</label>
            </div>  
            <div class="row form-group col-lg-12" >
                <button type="file" id="image" 
                name="image" value="" style="background: url(../../../../../assets/media/misc/upload_img_button.jpg); background-size: 276px 86px; height: 86px; width: 276px;">
                </button>
            </div>
        </div><!--Fin de containr izquierdo-->
        </form>
    </div><!--Fin  FloatContainer-->
    <div class="card-footer col-lg-12">
        <button style="float:right; margin: 5px;" class="btn btn-success" (click)="back()">REGRESAR</button>
        <button style="float:right; margin: 5px;" class="btn btn-danger" (click)="resetForm()">CANCELAR</button>
        <button style="float:right; margin: 5px;" class="btn btn-primary" (click)="onSubmit()">ACEPTAR</button>
    </div>

  
