<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title ">
        <h3 class="card-label">Lista de húespedes</h3>
      </div>
      <div  class="card-toolbar">
        &nbsp; &nbsp; &nbsp;
  
      </div>
    </div>
  
    <div class="card-body">
      <!-- begin: Filtration form -->
        <div class="form-group row">
            <div class="row" >
              <div class="col-lg-4">
                <select class="form-control" name="estatus" placeholder="Filtro de Estatus" >
                  <option value="">Todos</option>
                  <ng-container *ngFor="let estatus of estatusArray ">
                    <option>{{estatus.estatus}}</option>
                  </ng-container>
  
                </select><small class="form-text text-muted"><b>Fitro </b> Por Estatus</small>
              </div>
              <div class="col-lg-4">
                <select class="form-control" placeholder="Filtra por habitacion" name="habitacion" >
                  <option selected value="">All</option>
                  <ng-container *ngFor="let tipo of codigoCuarto">
                    <option>
                      {{tipo.replace("_"," ")}}
                    </option>
                  </ng-container>
                </select><small class="form-text text-muted"><b>Filtro</b> Por Habitacion</small>
              </div>
              <div class="col-lg-4">
                <select class="form-control" name="origen" placeholder="Filtro de Origenes" >
                  <option value="">Todos</option>
                  <ng-container *ngFor="let origen of origenArray ">
                    <option>{{origen.Descripcion}}</option>
                  </ng-container>
  
                </select><small class="form-text text-muted"><b>Fitro </b> Por Origen</small>
              </div>
            </div>
          <div class="col-lg-4" >
            <input  oninput="this.value = this.value.toLowerCase()" type="text" class="form-control" name="searchText" placeholder="Buscar" value=""
              /><small class="form-text text-muted"><b>Buscar</b> Por Nombre</small>
          </div>
        </div>
      <!-- end: Filtration form -->
  

  
      <!-- begin:Table -->
<table mat-table [dataSource]="dataSource" matSort class="table overflow-hidden table-head-custom table-vertical-center">
  
        <!-- Cancelar Column -->
    <ng-container matColumnDef="cancelar">
      <th class="header-align-right" mat-header-cell *matHeaderCellDef></th>
        <td class="header-align-right" mat-cell (click)="$event.stopPropagation()" *matCellDef="let row">
          <button [disabled]="row.Descripcion=='Alojamiento'||row.Estatus=='Cancelado'||row.Estatus=='Devolucion'" 
            class="btn btn-danger">
                x
          </button>
       </td>
    </ng-container>

        <!-- Folio Column -->
    <ng-container matColumnDef="folio">
      <th class="fecha-columna"  mat-header-cell *matHeaderCellDef mat-sort-header> Folio </th>
      <td class="fecha-columna" mat-cell *matCellDef="let row"> {{row.folio}} </td>
    </ng-container>
  
    <!-- Fecha Column -->
    <ng-container matColumnDef="llegada">
      <th class="fecha-columna"  mat-header-cell *matHeaderCellDef mat-sort-header> Llegada </th>
      <td class="fecha-columna" mat-cell *matCellDef="let row"> {{row.llegada}} </td>
    </ng-container>

    <!-- Salida Column -->
    <ng-container matColumnDef="salida">
      <th class="fecha-columna"  mat-header-cell *matHeaderCellDef mat-sort-header> Salida </th>
      <td class="fecha-columna" mat-cell *matCellDef="let row"> {{row.salida}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th class="fecha-columna"  mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td class="fecha-columna" mat-cell *matCellDef="let row"> {{row.nombre}} </td>
    </ng-container>
  
    <!-- Habitacion Column -->
    <ng-container matColumnDef="habitacion">
      <th hidden mat-header-cell  *matHeaderCellDef mat-sort-header> Habitacion </th>
      <td hidden  mat-cell *matCellDef="let row">  {{row.habitacion}}</td>
    </ng-container>

    <!-- Numero Habitacion Column -->
    <ng-container matColumnDef="cuarto">
      <th hidden mat-header-cell  *matHeaderCellDef mat-sort-header> Cuarto </th>
      <td hidden  mat-cell *matCellDef="let row">  {{row.numeroCuarto}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th class="header-align-right" mat-header-cell *matHeaderCellDef>Ver</th>
        <td class="header-align-right" mat-cell (click)="$event.stopPropagation()" *matCellDef="let row">
          <button 
            (click)="verFolio(row)"
            class="btn btn-info">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
       </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="verFolio(row)"></tr>
</table>
      <!-- end: Table -->
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Pagina"></mat-paginator>

    </div>
  </div>
