<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title ">
      <h3 class="card-label">Lista de húespedes</h3>
    </div>
    <div  class="card-toolbar">
      <button style="background-color: #319dd7; color: white; ;" type="button" class="btn " (click)="create()">Nueva Reserva</button>
      &nbsp; &nbsp; &nbsp;
      <button style="margin-right: 5px; background-color: #319dd7; color: white;;" type="button" class="btn" (click)="crearBloqueo()">Nuevo Bloqueo</button>

    </div>
  </div>

  <div class="card-body">
    <!-- begin: Filtration form -->
      <div class="form-group row">
          <div class="row" [formGroup]="filterGroup">
            <div class="col-lg-4">
              <select class="form-control" name="estatus" placeholder="Filtro de Estatus" formControlName="estatus">
                <option value="">Todos</option>
                <ng-container *ngFor="let estatus of estatusArray ">
                  <option>{{estatus.estatus}}</option>
                </ng-container>

              </select><small class="form-text text-muted"><b>Fitro </b> Por Estatus</small>
            </div>
            <div class="col-lg-4">
              <select class="form-control" placeholder="Filtra por habitacion" name="habitacion" formControlName="habitacion">
                <option selected value="">All</option>
                <ng-container *ngFor="let tipo of codigoCuarto">
                  <option>
                    {{tipo.replace("_"," ")}}
                  </option>
                </ng-container>
              </select><small class="form-text text-muted"><b>Filtro</b> Por Habitacion</small>
            </div>
            <div class="col-lg-4">
              <select class="form-control" name="origen" placeholder="Filtro de Origenes" formControlName="origen">
                <option value="">Todos</option>
                <ng-container *ngFor="let origen of origenArray ">
                  <option>{{origen.Descripcion}}</option>
                </ng-container>

              </select><small class="form-text text-muted"><b>Fitro </b> Por Origen</small>
            </div>
          </div>
        <div class="col-lg-4" [formGroup]="searchGroup">
          <input  oninput="this.value = this.value.toLowerCase()" type="text" class="form-control" name="searchText" placeholder="Buscar" value=""
            formControlName="searchTerm" /><small class="form-text text-muted"><b>Buscar</b> Por Nombre</small>
        </div>
      </div>
    <!-- end: Filtration form -->

    <!-- begin: Grouping -->
    <ng-container *ngIf="grouping.getSelectedRowsCount()">
      <div class="form">
        <div class="row align-items-center form-group-actions margin-top-20 margin-bottom-20">
          <div class="col-xl-12">
            <div class="form-group form-group-inline">
              <div class="form-label form-label-no-wrap">
                <label class="font-bold font-danger"><span>Selected records count:
                    <b>{{ grouping.getSelectedRowsCount() }}</b></span></label>
              </div>
              <div>
                <button type="button" class="mr-1 btn btn-danger font-weight-bolder font-size-sm"
                  (click)="deleteSelected()">
                  <i class="fa fa-trash"></i> Delete All
                </button>&nbsp;
                <button type="button" class="mr-1 btn btn-light-primary font-weight-bolder font-size-sm"
                  (click)="fetchSelected()">
                  <i class="fa fa-stream"></i> Fetch Selected
                </button>&nbsp;
                <button type="button" class="mr-1 btn btn-light-primary font-weight-bolder font-size-sm"
                  (click)="updateStatusForSelected()">
                  <i class="fa fa-sync-alt"></i> Update Status
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- end: Grouping -->

    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table overflow-hidden table-head-custom table-vertical-center">
        <thead>
          <!-- <th class="selection-cell-header" data-row-selection="true">
            <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectAllRows()"
                [checked]="grouping.checkAreAllRowsSelected()" /><span></span></label>
          </th> -->
          <th>
            # de Reserva
            <app-sort-icon column="id" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Nombre
            <app-sort-icon column="firstName" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th style="text-align: center;">
            Estatus de Reserva
            <app-sort-icon column="estatus" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Habitación
            <app-sort-icon column="type" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Día de Llegada
            <app-sort-icon column="llegada" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Día de Salida
            <app-sort-icon column="salida" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Noches
            <app-sort-icon column="noches" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <!-- <th>
            Tarifa X Noche
            <app-sort-icon column="por pagar" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Por Pagar
            <app-sort-icon column="por pagar" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th> -->
          <th>
            Pago Pendiente
            <app-sort-icon column="pago pendiente" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th style="display:none;">
            Origen
            <app-sort-icon column="origen" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>

          <th>Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let huesped of customerService.items$ | async">

            <td>{{ huesped.folio }}</td>
            <td>{{ huesped.nombre }}</td>
            <td ><!--cambiaEstatus(huesped)-->
              <ng-container *ngIf="huesped.estatus=='Huesped en Casa'||huesped.estatus=='Check-Out'||huesped.estatus=='Uso Interno'||huesped.estatus=='Bloqueo / Sin Llegadas'||huesped.estatus=='Reserva Temporal'">
                <mat-select style="width:200px" [(value)]="huesped.estatus" [style.background-color]="backgroundColor(huesped.estatus)" name="filter_for" id="demo" class="btn">
                  <mat-option #option [style.background-color]="backgroundColor(huesped.estatus)" [value]="huesped.estatus">{{huesped.estatus}}</mat-option>
                </mat-select>
              </ng-container>
              <ng-container *ngIf="huesped.estatus=='Reserva Sin Pago'||huesped.estatus=='Deposito Realizado'||huesped.estatus=='Esperando Deposito'||huesped.estatus=='Totalmente Pagada'||huesped.estatus=='Reserva Confirmada'">
                <mat-select style="width: 200px;" #selected [(value)]="huesped.estatus"  (selectionChange)="openDialog(huesped)" [style.background-color]="backgroundColor(huesped.estatus)" name="filter_for" id="demo" class="btn" >
                  <ng-container *ngFor="let estatus of estatusArray">
                    <ng-container  *ngIf="estatus.id==2||estatus.id==3||estatus.id==8||estatus.id==9||estatus.id==10">
                      <mat-option #option [style.background-color]="estatus.color" [value]="estatus.estatus">{{estatus.estatus}}</mat-option>
                    </ng-container>
                  </ng-container>
                </mat-select>
              </ng-container>
            </td>
            <td>

              <label class="btn"  *ngIf="huesped.numeroCuarto == 0"> S/N - {{huesped.habitacion}}
              </label>
              <label class="btn"  *ngIf="huesped.numeroCuarto != 0">{{huesped.numeroCuarto}} - {{huesped.habitacion}}
              </label>
    </td>
            <td>{{ huesped.llegada }}</td>
            <td>{{ huesped.salida }}</td>
            <td style="text-align: center;">{{ huesped.noches }}</td>
            <!-- <td>{{ huesped.tarifa }}</td>
            <td>{{ huesped.porPagar }}</td> -->
            <td>$ {{ huesped.pendiente }}</td>
            <td style="display:none;">{{ huesped.origen }}</td>
            <!-- <td>{{ huesped.habitacion }}</td> -->


            <td>

              <a
                title="Editar Folio"
                class="mx-3 btn btn-icon btn-light btn-hover-primary btn-sm"
                (click)="edit(huesped.folio)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>

              <!-- <a title="Delete huesped" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                >
                (click)="delete(huesped.folio)"
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="flex-wrap d-flex justify-content-between align-items-center" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
</div>
<ng-template #exito let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Estatus Actualizado Correctamente</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- <div class="modal-body">
    <p>Ocurrio un Error al guardar al Húesped porfavor intentelo mas tarde&hellip;</p>
  </div> -->
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #error let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Hubo un problema al actualizar el Estatus intente de nuevo mas tarde</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- <div class="modal-body">
    <p>Ocurrio un Error al guardar al Húesped porfavor intentelo mas tarde&hellip;</p>
  </div> -->
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

