<!--begin::Brand-->
<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
  <!--begin::Logo-->
  <a routerLink="/" class="brand-logo">
    <img alt="Logo" [attr.src]="headerLogo" />
  </a>
  <!--end::Logo-->

  <ng-container *ngIf="asideSelfMinimizeToggle">
    <button class="px-0 brand-toggle btn btn-sm" id="kt_aside_toggle">
      <span
        [inlineSVG]="
          './assets/media/svg/icons/Navigation/Angle-double-left.svg'
        "
        cacheSVG="true"
        class="svg-icon svg-icon-xl"
      ></span>
    </button>
  </ng-container>
</div>
<!--end::Brand-->

<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
  <ng-container *ngIf="disableAsideSelfDisplay">
    <!--begin::Header Logo-->
    <a routerLink="/">
      <img alt="Logo" [attr.src]="headerLogo" />
    </a>
    <!--end::Header Logo-->
  </ng-container>
  <!--begin::Menu Container-->
  <div
    id="kt_aside_menu"
    class="aside-menu"
    [ngClass]="asideMenuCSSClasses"
    data-menu-vertical="1"
    [attr.data-menu-scroll]="asideMenuScroll"
    [attr.data-menu-dropdown]="asideMenuDropdown"
    data-menu-dropdown-timeout="500"
  >
    <!-- begin::Menu Nav -->
    <ul class="menu-nav" [ngClass]="ulCSSClasses">
      <!-- begin::1 Level -->
      <li
        class="menu-item"
        aria-haspopup="true"
        routerLinkActive="menu-item-active"
      >
        <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
          <span
            [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text" translate="MENU.DASHBOARD"></span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <!-- <li
        class="menu-item"
        aria-haspopup="true"
        routerLinkActive="menu-item-active"
      >
        <a class="menu-link" routerLink="/reportes" routerLinkActive="active">
          <span
            [inlineSVG]="'./assets/media/svg/icons/Home/Library.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text">Reportes</span>
        </a>
      </li> -->
      <!-- end::1 Level -->





<!-- Reportes -->
      <!-- begin::1 Level -->
      <li
        class="menu-item menu-item-submenu"
        aria-haspopup="true"
        data-menu-toggle="hover"
        routerLinkActive="menu-item-open"
      >
      <a
      class="menu-link"
      routerLink="/reportes/customers"
      routerLinkActive="active"
    >
          <span
            [inlineSVG]="'./assets/media/svg/icons/Shopping/Cart3.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text">Reservas y Huéspedes</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <ul class="menu-subnav">
           <!-- <li class="menu-item" aria-haspopup="true">
              <span class="menu-link">
                <span class="menu-text">Reportes</span>
              </span>
            </li> -->

            <!-- begin::2 Level -->
            <!-- <li
              class="menu-item"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-active"
            >
              <a
                class="menu-link"
                routerLink="/reportes/customers"
                routerLinkActive="active"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Lista de Húespedes</span>
              </a>
            </li> -->
            <!-- end::2 Level -->

            <!-- begin::2 Level -->
            <!-- <li
              class="menu-item"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-active"
            >
              <a
                class="menu-link"
                routerLink="/ecommerce/products"
                routerLinkActive="active"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Con Saldo</span>
              </a>
            </li> -->
            <!-- end::2 Level -->
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->



<!-- Applications -->
      <!-- begin::section -->
      <!-- <li class="menu-section">
        <h4 class="menu-text">Consultas</h4>
        <i class="menu-icon flaticon-more-v2"></i>
      </li> -->
      <!-- end:: section -->

      <!-- ECommerce -->
      <!-- begin::1 Level -->
      <!-- <li
        class="menu-item menu-item-submenu"
        aria-haspopup="true"
        data-menu-toggle="hover"
        routerLinkActive="menu-item-open"
      >
        <a
          class="menu-link menu-toggle"
          routerLinkActive="active"
          href="/reportes"
        >
          <span
            [inlineSVG]="'./assets/media/svg/icons/Shopping/Cart3.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text">Reportes</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav"> -->
            <!-- <li class="menu-item" aria-haspopup="true">
              <span class="menu-link">
                <span class="menu-text">eCommerce</span>
              </span>
            </li> -->

            <!-- begin::2 Level -->
            <!-- <li
              class="menu-item"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-active"
            >
              <a
                class="menu-link"
                routerLink="/reportes/customers"
                routerLinkActive="active"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Lista de húespedes</span>
              </a>
            </li> -->
            <!-- end::2 Level -->


          <!-- </ul>
        </div>
      </li> -->
      <!-- end::1 Level -->









      <!-- Wordpress -->
      <!-- begin::1 Level -->

      <!-- <li
        class="menu-item"
        aria-haspopup="true"
        routerLinkActive="menu-item-active"
      >
        <a
          class="menu-link"
          routerLink="/wordpress"
          routerLinkActive="active"
        >
          <span
            [inlineSVG]="'./assets/media/svg/icons/Communication/Add-user.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text">Mi movSuite</span>
        </a>
      </li> -->
      <!-- end::1 Level -->

    </ul>
    <!-- end::Menu Nav -->
  </div>
  <!--end::Menu Container-->
</div>
<!--end::Aside Menu-->
